Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(animation): replace one-time-init ref with useState lazy initializer
  utils/animation/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(AnimatedCard): forward ref via useImperativeHandle, render JSX
  ui/components/AnimatedCard/AnimatedCard.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(AnimatedSection): forward via useImperativeHandle, query stagger children from DOM
  ui/components/AnimatedSection/AnimatedSection.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(AnimatedText): forward via useImperativeHandle, query words from DOM
  ui/components/AnimatedText/AnimatedText.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Tooltip): wrap children in span instead of cloneElement
  ui/components/Tooltip/Tooltip.tsx
  ui/components/Tooltip/tests/Tooltip.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Truncate): forward via useImperativeHandle, render JSX
  ui/components/Truncate/Truncate.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(FeatureCoachmark): stable ref callback + activeAnchor state for Popover
  ui/modules/FontInspector/FeatureCoachmark.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-REFS-001 spec post-merge
  .caws/specs/FIX-REFS-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-UNUSED-001 to worktree fix-unused
  .caws/specs/FIX-UNUSED-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-PRETTIER-001 to worktree fix-prettier
  .caws/specs/FIX-PRETTIER-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-A11Y-CLUSTER-001 to worktree fix-a11y-cluster
  .caws/specs/FIX-A11Y-CLUSTER-001.yaml
Due: prettier --write

wip(tokens): checkpoint regenerated token output from prior session
  types/designTokens.ts
  ui/components/breadcrumbs/Breadcrumbs.tokens.css
  ui/components/links/AnimatedLink.tokens.css
  ui/components/links/Links.tokens.css
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(command): resolve jsx-a11y findings (FIX-A11Y-CLUSTER-001 1/13)
  ui/components/Command/Command.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(prettier): reformat long line in Button test for Open menu
  ui/components/Button/tests/Button.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(dialog): resolve jsx-a11y/click-events-have-key-events (FIX-A11Y-CLUSTER-001 2/13)
  ui/components/Dialog/Dialog.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(sheet): resolve jsx-a11y/click-events-have-key-events on overlay (FIX-A11Y-CLUSTER-001 3/13)
  ui/components/Sheet/Sheet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-PRETTIER-001 spec post-merge
  .caws/specs/FIX-PRETTIER-001.yaml
Due: prettier --write

fix(otp): replace aria-readonly with data-readonly on role=group (FIX-A11Y-CLUSTER-001 4/13)
  ui/components/OTP/OTP.tsx
  ui/components/OTP/slots/OTPInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(field): move aria-errormessage/aria-invalid to radiogroup container (FIX-A11Y-CLUSTER-001 5/13)
  ui/components/Field/RadioGroupAdapter.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(image): suppress no-img-element with documented justification (FIX-A11Y-CLUSTER-001 6/13)
  ui/components/Image/Image.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(tests): resolve alt-text and img-redundant-alt in test fixtures (FIX-A11Y-CLUSTER-001 7/13)
  test/components/UtilityComponents.test.tsx
  ui/components/Image/tests/Image.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(showmore): remove redundant role=button from button element (FIX-A11Y-CLUSTER-001 8/13)
  ui/components/ShowMore/ShowMore.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(filetabs): add tabIndex={-1} to tablist to satisfy interactive-supports-focus (FIX-A11Y-CLUSTER-001 9/13)
  ui/modules/CodeSandbox/primitives/FileTabs.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(tokenpanel): convert clickable token row div to button (FIX-A11Y-CLUSTER-001 10/13)
  ui/modules/CodeSandbox/primitives/TokenPanel.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(articlecard): fix a11y on delete confirmation dialog overlay (FIX-A11Y-CLUSTER-001 11/13)
  app/dashboard/articles/_components/ArticleCard.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(utils): remove or underscore-prefix unused variables
  utils/caching/unified.ts
  utils/designTokens/analytics/usageTracker.ts
  utils/designTokens/generators/compose.ts
  utils/designTokens/utils/generator.ts
  utils/designTokens/utils/resolver-integration.ts
  utils/designTokens/utils/resolver.ts
  utils/designTokens/w3c-validator.ts
  utils/performance/advanced-monitor.ts
  utils/typeAnatomy/detectors/aperture.ts
  utils/typeAnatomy/detectors/ear.ts
  utils/typeAnatomy/detectors/eye.ts
  utils/typeAnatomy/detectors/finial.ts
  utils/typeAnatomy/detectors/loop.ts
  utils/typeAnatomy/detectors/spine.ts
  utils/typeAnatomy/detectors/spur.ts
  utils/typeAnatomy/detectors/stem.ts
  utils/typeAnatomy/detectors/tail.ts
  utils/typeAnatomy/foot.ts
  utils/typeAnatomy/geometryCache.ts
  utils/typeAnatomy/leg.ts
  utils/typeAnatomy/link.ts
  utils/typeAnatomy/neck.ts
  utils/typeAnatomy/terminal.ts
  utils/w3c-tokens/w3c-validator.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-UNUSED-001 spec post-merge
  .caws/specs/FIX-UNUSED-001.yaml
Due: prettier --write

fix(tests): update ShowMore and Image tests broken by a11y fixes (FIX-A11Y-CLUSTER-001 12/13)
  ui/components/Image/tests/Image.test.tsx
  ui/components/ShowMore/tests/ShowMore.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-A11Y-CLUSTER-001 spec post-merge
  .caws/specs/FIX-A11Y-CLUSTER-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-DISPNAME-MEMO-001 to worktree fix-dispname-memo
  .caws/specs/FIX-DISPNAME-MEMO-001.yaml
Due: prettier --write

fix(ShowMore): set displayName on forwardRef component directly
  ui/components/ShowMore/ShowMore.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Shuttle): set displayName on forwardRef component directly
  ui/components/Shuttle/Shuttle.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(SheetProvider): pick keys explicitly so memo deps match closure reads
  ui/components/Sheet/SheetProvider.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(OTPField): add refs to handleKeyDown deps
  ui/components/OTP/slots/OTPField.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-DISPNAME-MEMO-001 spec post-merge
  .caws/specs/FIX-DISPNAME-MEMO-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-SETSTATE-D-001 to worktree fix-setstate-d
  .caws/specs/FIX-SETSTATE-D-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-SETSTATE-E-001 to worktree fix-setstate-e
  .caws/specs/FIX-SETSTATE-E-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-SETSTATE-F-001 to worktree fix-setstate-f
  .caws/specs/FIX-SETSTATE-F-001.yaml
Due: prettier --write

fix(GlossaryPopover): derive glossaryItem from props at render
  app/blueprints/foundations/_components/GlossaryPopover.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(DocLayout): resolve activeSection at render instead of in effect
  ui/modules/DocLayout/DocLayout.tsx
Due: prettier --write, eslint --fix --max-warnings 0
