Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

refactor(contracts): scope resolver claims to proven behavior, add 8 tests (A4)
  test/utils/designTokens/resolver/fixtures/base-tokens.json
  test/utils/designTokens/resolver/fixtures/circular-alias.resolver.json
  test/utils/designTokens/resolver/fixtures/cross-file-ref.resolver.json
  test/utils/designTokens/resolver/fixtures/invalid-context.resolver.json
  test/utils/designTokens/resolver/fixtures/missing-file.resolver.json
  test/utils/designTokens/resolver/fixtures/modifier-override.resolver.json
  test/utils/designTokens/resolver/fixtures/simple-alias.resolver.json
  test/utils/designTokens/resolver/resolver-module.test.ts
  utils/designTokens/utils/RESOLVER_MODULE.md
  utils/designTokens/utils/resolver-module.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(specs): add CONTRACTS-002 spec for validator and structural gap fixes
  .caws/specs/CONTRACTS-002.yaml
Due: prettier --write

fix(validator): accept .ts index files, named re-exports, and contract.layer composer detection (CONTRACTS-002 A1/A2/A4)
  scripts/validateComponents.mjs
Due: none

chore(stubs): add README.md and render test stubs for 5 components (CONTRACTS-002 A3)
  ui/components/AnimatedCard/README.md
  ui/components/AnimatedCard/tests/AnimatedCard.test.tsx
  ui/components/AnimatedSection/README.md
  ui/components/AnimatedSection/tests/AnimatedSection.test.tsx
  ui/components/AnimatedText/README.md
  ui/components/AnimatedText/tests/AnimatedText.test.tsx
  ui/components/BrandSwitcher/README.md
  ui/components/BrandSwitcher/tests/BrandSwitcher.test.tsx
  ui/components/Chip/tests/Chip.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

wip(contracts): checkpoint registry.json from prior session
  .caws/specs/registry.json
Due: prettier --write

chore(caws): ignore specs/registry.json — ephemeral per-developer runtime file
  .gitignore
Due: none

feat(contracts): add behavioral fields, channels, form, and description/a2ui to 21 components
  ui/components/AlertNotice/AlertNotice.contract.json
  ui/components/AspectRatio/AspectRatio.contract.json
  ui/components/BrandSwitcher/BrandSwitcher.contract.json
  ui/components/Calendar/Calendar.contract.json
  ui/components/Card/Card.contract.json
  ui/components/Command/Command.contract.json
  ui/components/Details/Details.contract.json
  ui/components/Field/Field.contract.json
  ui/components/OTP/OTP.contract.json
  ui/components/ProfileFlag/ProfileFlag.contract.json
  ui/components/Select/Select.contract.json
  ui/components/ShowMore/ShowMore.contract.json
  ui/components/Shuttle/Shuttle.contract.json
  ui/components/SlinkyCursor/SlinkyCursor.contract.json
  ui/components/Switch/Switch.contract.json
  ui/components/Table/Table.contract.json
  ui/components/Toast/Toast.contract.json
  ui/components/Tooltip/Tooltip.contract.json
  ui/components/VisuallyHidden/VisuallyHidden.contract.json
  ui/components/Walkthrough/Walkthrough.contract.json
  ui/components/links/Links.contract.json
Due: prettier --write

chore(specs): add Phase 7 TSX paths to CONTRACTS-001 scope.in for data-slot additions
  .caws/specs/CONTRACTS-001.yaml
Due: prettier --write

feat(contracts): Phase 7 — add data-slot anatomy to Tabs, breadcrumbs, Card, Select, Details, Walkthrough
  ui/components/Card/Card.contract.json
  ui/components/Card/Card.tsx
  ui/components/Details/Details.contract.json
  ui/components/Details/Details.tsx
  ui/components/Select/Select.contract.json
  ui/components/Select/Select.tsx
  ui/components/Tabs/Tabs.contract.json
  ui/components/Tabs/Tabs.tsx
  ui/components/Tabs/slots/Tab.tsx
  ui/components/Tabs/slots/TabList.tsx
  ui/components/Tabs/slots/TabPanel.tsx
  ui/components/Walkthrough/Walkthrough.tsx
  ui/components/breadcrumbs/Breadcrumbs.contract.json
  ui/components/breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(contracts): add contractTest escape-dismissal coverage for Select, Toast, Walkthrough
  ui/components/Select/tests/Select.test.tsx
  ui/components/Toast/tests/Toast.test.tsx
  ui/components/Walkthrough/tests/Walkthrough.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

wip(checkpoint): gitignore registry.json and save CONTRACTS-002 draft spec
  .caws/specs/CONTRACTS-002.yaml
  .caws/specs/registry.json
  .gitignore
Due: prettier --write

feat(contracts): add root slots to 11 slot-free components
  ui/components/AnimatedCard/AnimatedCard.contract.json
  ui/components/AnimatedSection/AnimatedSection.contract.json
  ui/components/AnimatedText/AnimatedText.contract.json
  ui/components/AspectRatio/AspectRatio.contract.json
  ui/components/BrandSwitcher/BrandSwitcher.contract.json
  ui/components/Calendar/Calendar.contract.json
  ui/components/PageTransition/PageTransition.contract.json
  ui/components/ProfileFlag/ProfileFlag.contract.json
  ui/components/SlinkyCursor/SlinkyCursor.contract.json
  ui/components/VisuallyHidden/VisuallyHidden.contract.json
Due: prettier --write

feat(contracts): add root slot to links component (missed in batch)
  ui/components/links/Links.contract.json
Due: prettier --write

chore(components): enforce validation and style token gates
  package.json
  scripts/check-style-token-values.mjs
  scripts/validateComponents.mjs
  ui/components/AnimatedCard/AnimatedCard.module.scss
  ui/components/AnimatedCard/README.md
  ui/components/AnimatedCard/tests/AnimatedCard.test.tsx
  ui/components/AnimatedSection/README.md
  ui/components/AnimatedSection/tests/AnimatedSection.test.tsx
  ui/components/AnimatedText/AnimatedText.module.scss
  ui/components/AnimatedText/README.md
  ui/components/AnimatedText/tests/AnimatedText.test.tsx
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/components/BrandSwitcher/README.md
  ui/components/BrandSwitcher/tests/BrandSwitcher.test.tsx
  ui/components/Chip/tests/Chip.test.tsx
  ui/components/Select/Select.module.scss
  ui/components/SlinkyCursor/SlinkyCursor.module.scss
  ui/components/Spinner/Spinner.module.scss
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(components): format validator before merge
  scripts/validateComponents.mjs
Due: none

test(contracts): add a11y.apgPattern contractTest coverage for Command, Dialog, Field, Select, Sheet, ShowMore, Switch, Toast, Walkthrough
  ui/components/Command/tests/Command.test.tsx
  ui/components/Dialog/tests/Dialog.test.tsx
  ui/components/Field/tests/Field.test.tsx
  ui/components/Select/tests/Select.test.tsx
  ui/components/Sheet/tests/Sheet.test.tsx
  ui/components/ShowMore/tests/ShowMore.test.tsx
  ui/components/Switch/tests/Switch.test.tsx
  ui/components/Toast/tests/Toast.test.tsx
  ui/components/Walkthrough/tests/Walkthrough.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close CONTRACTS-002 spec post-merge
  .caws/specs/CONTRACTS-002.yaml
Due: prettier --write

test(contracts): add a11y.apgPattern contractTest coverage for Alert, AlertNotice, Button, Image, TextField, ToggleSwitch, Tooltip, breadcrumbs
  ui/components/Alert/tests/Alert.test.tsx
  ui/components/AlertNotice/tests/AlertNotice.test.tsx
  ui/components/Button/tests/Button.test.tsx
  ui/components/Image/tests/Image.test.tsx
  ui/components/TextField/tests/TextField.test.tsx
  ui/components/ToggleSwitch/tests/ToggleSwitch.test.tsx
  ui/components/Tooltip/tests/Tooltip.test.tsx
  ui/components/breadcrumbs/tests/Breadcrumbs.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close COMPONENT-GATES-002 spec post-merge
  .caws/specs/COMPONENT-GATES-002.yaml
Due: prettier --write

chore(caws): close CONTRACTS-001 spec post-verification
  .caws/specs/CONTRACTS-001.yaml
Due: prettier --write

wip(scripts): restore default file permissions from prior session chmod
  scripts/audit-hook-bypasses.sh
  scripts/git-hooks-install.sh
  scripts/migrate-missing-tokens.mjs
  scripts/migrateComponentTokensToDTCG10.mjs
  scripts/migrateTokensToDTCG10.mjs
  scripts/pre-commit.template
  scripts/setup-hooks.sh
  scripts/track-hook-bypass.sh
  scripts/uncomment-color-helpers.mjs
Due: none

fix(hooks): fix prepush hook
  .gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(lint): resolve react hooks immutability findings
  ui/components/Select/Select.tsx
  ui/components/SlinkyCursor/SlinkyCursor.tsx
  ui/components/Tooltip/Tooltip.tsx
  ui/modules/CodeSandbox/primitives/TokenPanel.tsx
  utils/refs.ts
Due: prettier --write, eslint --fix --max-warnings 0

updates to fix css issues
  app/HomeClient.tsx
  app/designTokens.scss
  app/globals.scss
  types/designTokens.ts
  ui/designTokens/brands/default.tokens.json
  ui/designTokens/designTokens.json
  ui/modules/LogoMarquee/LogoMarquee.module.scss
  ui/modules/LogoMarquee/LogoMarquee.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(blueprints): contract-driven anatomy table and isometric component view
  .caws/specs/FEAT-201.yaml
  app/blueprints/component-standards/_components/AnatomyTable.module.scss
  app/blueprints/component-standards/_components/AnatomyTable.tsx
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.module.scss
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.tsx
  app/blueprints/component-standards/_components/IsometricAnatomy.module.scss
  app/blueprints/component-standards/_components/IsometricAnatomy.tsx
  app/blueprints/component-standards/_lib/generateAnatomy.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

wip(checkpoint): main-branch edits from prior session
  app/blueprints/component-standards/[slug]/page.tsx
  app/blueprints/component-standards/_lib/generateAnatomy.ts
  ui/modules/Toolbar/Toolbar.contract.json
  ui/modules/Toolbar/Toolbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(tiptap): rewrite slash command extension for usability
  .caws/specs/FEAT-SLASH-001.yaml
  test/components/SlashCommandExtension.test.ts
  ui/modules/Tiptap/Extensions/SlashCommand/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FEAT-SLASH-001 spec post-merge
  .caws/specs/FEAT-SLASH-001.yaml
Due: prettier --write

fix(articles): publish flow for new articles without an existing row
  .caws/specs/FIX-PUB-001.yaml
  app/api/articles/[slug]/route.ts
  app/dashboard/articles/new/page.tsx
  test/api/articles.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-PUB-001 spec post-merge
  .caws/specs/FIX-PUB-001.yaml
Due: prettier --write

fix(articles): hydration mismatch, autosave 400, and script-in-render warning
  .caws/specs/FIX-PUB-002.yaml
  app/ServiceWorkerCleanup.tsx
  app/dashboard/articles/new/page.tsx
  app/layout.tsx
  test/utils/schemas/article.schema.test.ts
  utils/schemas/article.schema.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-PUB-002 spec post-merge
  .caws/specs/FIX-PUB-002.yaml
Due: prettier --write

fix(tiptap): SlashCommand Suggestion generic mismatch
  .caws/specs/FIX-SLASH-002.yaml
  ui/modules/Tiptap/Extensions/SlashCommand/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-SLASH-002 spec post-merge
  .caws/specs/FIX-SLASH-002.yaml
Due: prettier --write

fix(blueprints): drop unused componentContract prop on component-standards page
  .caws/specs/FIX-BLUEPRINTS-001.yaml
  app/blueprints/component-standards/[slug]/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-BLUEPRINTS-001 spec post-merge
  .caws/specs/FIX-BLUEPRINTS-001.yaml
Due: prettier --write

fix(articles): PUT 400 on publish — slim payload, looser schema, server log
  .caws/specs/FIX-PUB-003.yaml
  app/api/articles/[slug]/route.ts
  app/dashboard/articles/new/page.tsx
  test/utils/schemas/publish-payload-repro.test.ts
  utils/schemas/article.schema.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-PUB-003 spec post-merge
  .caws/specs/FIX-PUB-003.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
