Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(foundations): correct motion scale derivation and JND audit findings
  app/blueprints/foundations/motion/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): teach the Adaptive-DS-Colors ramp derivation on the color page
  app/blueprints/foundations/color/page.tsx
  test/blueprints/ColorPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(foundations): fill meta Theming Strategies as an education page
  app/blueprints/foundations/meta/theming/page.module.css
  app/blueprints/foundations/meta/theming/page.tsx
  test/blueprints/MetaThemingPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill meta Token Naming & Hierarchy as an education page
  app/blueprints/foundations/meta/token-naming/page.module.css
  app/blueprints/foundations/meta/token-naming/page.tsx
  test/blueprints/MetaTokenNamingPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill meta Atomic vs Semantic Tokens as an education page
  app/blueprints/foundations/meta/atomic-vs-semantic/page.module.css
  app/blueprints/foundations/meta/atomic-vs-semantic/page.tsx
  test/blueprints/MetaAtomicVsSemanticPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill meta System vs Style as an education page
  app/blueprints/foundations/meta/system-vs-style/page.module.css
  app/blueprints/foundations/meta/system-vs-style/page.tsx
  test/blueprints/MetaSystemVsStylePage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill meta Component Token Mapping as an education page
  app/blueprints/foundations/meta/component-mapping/page.module.css
  app/blueprints/foundations/meta/component-mapping/page.tsx
  test/blueprints/MetaComponentMappingPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Design Tooling as an education page
  app/blueprints/foundations/tooling/design/page.module.css
  app/blueprints/foundations/tooling/design/page.tsx
  test/blueprints/ToolingDesignPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Code Tooling as an education page
  app/blueprints/foundations/tooling/code/page.module.css
  app/blueprints/foundations/tooling/code/page.tsx
  test/blueprints/ToolingCodePage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Automation & CI/CD as an education page
  app/blueprints/foundations/tooling/automation/page.module.css
  app/blueprints/foundations/tooling/automation/page.tsx
  test/blueprints/ToolingAutomationPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): add the accessibility track landing, fixing the route 404
  app/blueprints/foundations/_lib/pageRegistry.ts
  app/blueprints/foundations/accessibility/page.tsx
  test/blueprints/AccessibilityPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(foundations): fill Accessibility Philosophy & Practice as an education page
  app/blueprints/foundations/accessibility/philosophy/page.module.css
  app/blueprints/foundations/accessibility/philosophy/page.tsx
  test/blueprints/AccessibilityPhilosophyPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Accessibility Standards & Principles as an education page
  app/blueprints/foundations/accessibility/standards/page.module.css
  app/blueprints/foundations/accessibility/standards/page.tsx
  test/blueprints/AccessibilityStandardsPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Token-Level Accessibility as an education page
  app/blueprints/foundations/accessibility/tokens/page.module.css
  app/blueprints/foundations/accessibility/tokens/page.tsx
  test/blueprints/AccessibilityTokensPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Assistive Technology Support as an education page
  app/blueprints/foundations/accessibility/assistive-tech/page.module.css
  app/blueprints/foundations/accessibility/assistive-tech/page.tsx
  test/blueprints/AccessibilityAssistiveTechPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): create FIX-DEPS-LATEST-001
  .caws/specs/FIX-DEPS-LATEST-001.yaml
Due: prettier --write

chore(caws): amend FIX-DEPS-LATEST-001
  .caws/specs/FIX-DEPS-LATEST-001.yaml
Due: prettier --write

chore(caws): bind fix-deps-latest-001 to FIX-DEPS-LATEST-001
  .caws/specs/FIX-DEPS-LATEST-001.yaml
Due: prettier --write

feat(foundations): fill Accessibility Tooling as an education page
  app/blueprints/foundations/accessibility/tooling/page.module.css
  app/blueprints/foundations/accessibility/tooling/page.tsx
  test/blueprints/AccessibilityToolingPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): amend-scope FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

feat(ux-patterns): fill Input & Forms Patterns as an education page
  app/blueprints/ux-patterns/forms/page.module.css
  app/blueprints/ux-patterns/forms/page.tsx
  test/blueprints/FormsPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(ux-patterns): fill Dialogs & Overlay Patterns as an education page
  app/blueprints/ux-patterns/dialogs/page.module.css
  app/blueprints/ux-patterns/dialogs/page.tsx
  test/blueprints/DialogsPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

test(ux-patterns): correct dialogs citation assertion
  test/blueprints/DialogsPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(ux-patterns): fill Navigation Patterns as an education page
  app/blueprints/ux-patterns/navigation/page.module.css
  app/blueprints/ux-patterns/navigation/page.tsx
  test/blueprints/NavigationPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(ux-patterns): fill Feedback & Status Patterns as an education page
  app/blueprints/ux-patterns/feedback/page.module.css
  app/blueprints/ux-patterns/feedback/page.tsx
  test/blueprints/FeedbackPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(ux-patterns): fill Selection & Actions Patterns as an education page
  app/blueprints/ux-patterns/selection/page.module.css
  app/blueprints/ux-patterns/selection/page.tsx
  test/blueprints/SelectionPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

docs(foundations): deepen Spacing to golden-example depth
  app/blueprints/foundations/spacing/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Layout to golden-example depth
  app/blueprints/foundations/layout/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Icons to golden-example depth
  app/blueprints/foundations/icons/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Elevation to golden-example depth
  app/blueprints/foundations/elevation/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Radius to golden-example depth
  app/blueprints/foundations/radius/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Grid to golden-example depth
  app/blueprints/foundations/grid/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(foundations): deepen Borders to golden-example depth — deepening pass complete
  app/blueprints/foundations/borders/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(foundations): tokens track landing metadata and JSON-LD
  app/blueprints/foundations/tokens/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(foundations): tokens landing joins the learning graph's nav convention
  app/blueprints/foundations/tokens/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0
