Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(caws): create FIX-007
  .caws/specs/FIX-007.yaml
Due: prettier --write

chore(caws): create FIX-007 spec for dependency security pass
  .caws/specs/FIX-007.yaml
Due: prettier --write

chore(caws): bind fix-007-dep-security to FIX-007
  .caws/specs/FIX-007.yaml
Due: prettier --write

fix(deps): bump direct dependencies to patched versions for 10 advisories
  package.json
Due: prettier --write

chore(caws): amend-scope FIX-007
  .caws/specs/FIX-007.yaml
Due: prettier --write

fix(deps): regenerate lockfile and raise override floors for advisories
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(caws): close FIX-007
  .caws/specs/FIX-007.yaml
Due: prettier --write

chore: Add caws messages to git ignore
  .gitignore
Due: none

wip(deps): prior-session dependency advisory bumps (superseded by FIX-007)
  package.json
  pnpm-lock.yaml
Due: prettier --write

wip(typeanatomy): geometry cache + detector registry from prior session
  test/setup.ts
  test/typeAnatomy/contour-bezier-sampling.test.ts
  test/typeAnatomy/detection-context-memo.test.ts
  test/typeAnatomy/rayhits-cache.test.ts
  test/typeAnatomy/reconcile-features.test.ts
  ui/modules/FontInspector/FontInspector.tsx
  utils/geometry/geometryCore.ts
  utils/geometry/geometryHeuristics.ts
  utils/typeAnatomy/detectorRegistry.ts
  utils/typeAnatomy/geometryCache.ts
  utils/typeAnatomy/index.ts
  utils/typeAnatomy/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

wip(copy): rewrite hero bio paragraph
  app/HomeClient.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): create TYPEANATOMY-004
  .caws/specs/TYPEANATOMY-004.yaml
Due: prettier --write

chore(caws): bind typeanatomy-004-reconcile to TYPEANATOMY-004
  .caws/specs/TYPEANATOMY-004.yaml
Due: prettier --write

chore(caws): create FIX-008
  .caws/specs/FIX-008.yaml
Due: prettier --write

chore(caws): author FIX-008 acceptance criteria
  .caws/specs/FIX-008.yaml
Due: prettier --write

chore(caws): bind fix-008-dir-case to FIX-008
  .caws/specs/FIX-008.yaml
Due: prettier --write

fix(ui): record case-only rename of Links and Breadcrumbs component dirs
  ui/components/Breadcrumbs/Breadcrumbs.contract.json
  ui/components/Breadcrumbs/Breadcrumbs.css
  ui/components/Breadcrumbs/Breadcrumbs.tokens.css
  ui/components/Breadcrumbs/Breadcrumbs.tokens.json
  ui/components/Breadcrumbs/Breadcrumbs.tsx
  ui/components/Breadcrumbs/README.md
  ui/components/Breadcrumbs/index.tsx
  ui/components/Breadcrumbs/tests/Breadcrumbs.test.tsx
  ui/components/Links/AnimatedLink.tokens.css
  ui/components/Links/AnimatedLink.tokens.json
  ui/components/Links/Links.contract.json
  ui/components/Links/Links.css
  ui/components/Links/Links.tokens.css
  ui/components/Links/Links.tokens.json
  ui/components/Links/Links.tsx
  ui/components/Links/README.md
  ui/components/Links/index.tsx
  ui/components/Links/tests/Links.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

wip(checkpoint): stale token banners regenerated on macOS
  ui/components/breadcrumbs/Breadcrumbs.tokens.css
  ui/components/links/AnimatedLink.tokens.css
  ui/components/links/Links.tokens.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): close FIX-008
  .caws/specs/FIX-008.yaml
Due: prettier --write

chore(caws): create FIX-009
  .caws/specs/FIX-009.yaml
Due: prettier --write

chore(caws): author FIX-009 acceptance criteria
  .caws/specs/FIX-009.yaml
Due: prettier --write

chore(caws): bind fix-009-registry-auth to FIX-009
  .caws/specs/FIX-009.yaml
Due: prettier --write

fix(install): document where private registry auth must live
  .env.example
  .npmrc
Due: none

chore(caws): correct FIX-009 acceptance criteria after falsification
  .caws/specs/FIX-009.yaml
Due: prettier --write

chore(caws): close FIX-009
  .caws/specs/FIX-009.yaml
Due: prettier --write

chore(caws): create FIX-010
  .caws/specs/FIX-010.yaml
Due: prettier --write

chore(caws): author FIX-010 acceptance criteria
  .caws/specs/FIX-010.yaml
Due: prettier --write

chore(caws): bind fix-010-editor-teardown to FIX-010
  .caws/specs/FIX-010.yaml
Due: prettier --write

fix(test): destroy the Tiptap editor so the suite exits 0
  test/components/TableOfContentsExtension.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-010
  .caws/specs/FIX-010.yaml
Due: prettier --write

test(typeanatomy): make reconciliation assertions falsifiable and cover registry selection
  test/typeAnatomy/reconcile-features.test.ts
  test/typeAnatomy/registry-selection.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close TYPEANATOMY-004
  .caws/specs/TYPEANATOMY-004.yaml
Due: prettier --write

chore(caws): create FIX-011
  .caws/specs/FIX-011.yaml
Due: prettier --write

chore(caws): author FIX-011 acceptance criteria
  .caws/specs/FIX-011.yaml
Due: prettier --write

chore(caws): bind fix-011-lint-gate to FIX-011
  .caws/specs/FIX-011.yaml
Due: prettier --write

fix(lint): clear the 16 errors blocking every push
  app/HomeClient.tsx
  eslint.config.mjs
  test/typeAnatomy/contour-bezier-sampling.test.ts
  test/typeAnatomy/detection-context-memo.test.ts
  test/typeAnatomy/reconcile-features.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-011
  .caws/specs/FIX-011.yaml
Due: prettier --write

feat(editor): harden draft workflow and editing suite
  TESTING_CHECKLIST.md
  app/api/articles/[slug]/route.ts
  app/dashboard/_components/ContentEditor.module.css
  app/dashboard/_components/ContentEditor.tsx
  app/dashboard/articles/new/components/ArticleMetadataForm.tsx
  app/dashboard/articles/new/components/EditorLayout.tsx
  app/dashboard/articles/new/hooks/useAutoSave.ts
  app/dashboard/articles/new/page.tsx
  app/dashboard/page.module.css
  package.json
  pnpm-lock.yaml
  test/dashboard/useAutoSave.test.tsx
  test/utils/schemas/article.schema.test.ts
  test/utils/schemas/case-study.schema.test.ts
  test/utils/tiptap/extensionsRegistry.test.ts
  ui/modules/Footer/Footer.module.css
  ui/modules/Tiptap/Extensions/DragHandle/DragHandleExtension.tsx
  ui/modules/Tiptap/Extensions/ImageExtended/index.tsx
  ui/modules/Tiptap/ImageBubbleMenu.tsx
  ui/modules/Tiptap/Tiptap.tsx
  ui/modules/Tiptap/extensionsConfig.ts
  ui/modules/Tiptap/extensionsRegistry.ts
  ui/modules/Tiptap/tiptap.module.css
  ui/modules/Toolbar/Toolbar.css
  ui/modules/Toolbar/Toolbar.tsx
  utils/schemas/article.schema.ts
  utils/schemas/case-study.schema.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input
