Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(caws): deactivate FIX-DASH-AUTH-001
  .caws/specs/FIX-DASH-AUTH-001.yaml
Due: prettier --write

chore(caws): retire-draft FIX-DASH-AUTH-001
  .caws/specs/FIX-DASH-AUTH-001.yaml
Due: prettier --write

chore(caws): deactivate FIX-CONTENT-CREATION-001
  .caws/specs/FIX-CONTENT-CREATION-001.yaml
Due: prettier --write

chore(caws): retire-draft FIX-CONTENT-CREATION-001
  .caws/specs/FIX-CONTENT-CREATION-001.yaml
Due: prettier --write

chore(dashboard): preserve existing draft interface refinements
  app/dashboard/articles/_components/ArticleCard.tsx
  app/dashboard/articles/_components/EmptyState.tsx
  app/dashboard/articles/articles.module.css
  app/dashboard/articles/new/components/EditorActions.tsx
  app/dashboard/articles/new/page.tsx
  app/dashboard/articles/page.tsx
  app/dashboard/case-studies/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(editor): recover drafts and serialize save transitions
  app/dashboard/_components/ContentEditor.tsx
  test/dashboard/ContentEditor.test.tsx
  utils/editor/draftRecovery.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(auth): prevent session lockups and recover failed sign-ins
  app/auth/auth-code-error/page.tsx
  app/auth/callback/route.ts
  app/auth/confirm/route.ts
  app/auth/error-path.ts
  app/ha/actions.ts
  context/UserContext.tsx
  test/app/auth/error-page.test.tsx
  test/app/auth/login.test.ts
  test/app/auth/routes.test.ts
  test/context/UserContext.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(dashboard): organize the creator library around working drafts
  app/dashboard/_components/DashboardNav.tsx
  app/dashboard/articles/_components/ArticleFilters.tsx
  app/dashboard/articles/articles.module.css
  app/dashboard/articles/page.tsx
  app/dashboard/case-studies/page.tsx
  app/dashboard/page.module.css
  app/dashboard/page.tsx
  test/dashboard/ArticleFilters.test.tsx
  test/dashboard/contentLibrary.test.ts
  test/dashboard/contentPages.test.tsx
  utils/editor/contentLibrary.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(content): preserve creation identity and enable case study drafts
  app/api/case-studies/[slug]/route.ts
  app/dashboard/_components/NewContentEditor.tsx
  app/dashboard/articles/new/components/EditorActions.tsx
  app/dashboard/articles/new/components/EditorLayout.tsx
  app/dashboard/articles/new/components/SaveStatus.tsx
  app/dashboard/articles/new/hooks/useAutoSave.ts
  app/dashboard/articles/new/page.tsx
  app/dashboard/case-studies/[slug]/page.tsx
  app/dashboard/case-studies/new/page.tsx
  test/dashboard/new-content/autosave.test.tsx
  test/dashboard/new-content/case-study-api.test.ts
  test/dashboard/new-content/case-study-load.test.tsx
  test/dashboard/new-content/creation.test.tsx
  test/dashboard/new-content/recovery.test.ts
  utils/editor/newDraftRecovery.ts
  utils/schemas/case-study.schema.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-EDITOR-RELIABILITY-001
  .caws/specs/FIX-EDITOR-RELIABILITY-001.yaml
Due: prettier --write

chore(caws): destroy editor-reliability
  .caws/specs/FIX-EDITOR-RELIABILITY-001.yaml
Due: prettier --write

chore(caws): bind dashboard-date-polish to FIX-EDITOR-RELIABILITY-001
  .caws/specs/FIX-EDITOR-RELIABILITY-001.yaml
Due: prettier --write

fix(dashboard): date new drafts consistently in the content library
  app/dashboard/articles/_components/ArticleCard.tsx
  test/dashboard/contentLibrary.test.ts
  utils/editor/contentLibrary.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): destroy dashboard-date-polish
  .caws/specs/FIX-EDITOR-RELIABILITY-001.yaml
Due: prettier --write

chore(caws): close FIX-EDITOR-RELIABILITY-001
  .caws/specs/FIX-EDITOR-RELIABILITY-001.yaml
Due: prettier --write

chore(caws): create FIX-RELEASE-RECONCILE-001
  .caws/specs/FIX-RELEASE-RECONCILE-001.yaml
Due: prettier --write

chore(caws): bind release-reconcile to FIX-RELEASE-RECONCILE-001
  .caws/specs/FIX-RELEASE-RECONCILE-001.yaml
Due: prettier --write

chore(caws): checkpoint portable hook updates and ignore local diagnostics
  .caws/hooks/audit.sh
  .caws/hooks/cwd-guard.sh
  .caws/hooks/dispatch/post_tool_use.sh
  .caws/hooks/dispatch/pre_compact.sh
  .caws/hooks/dispatch/pre_tool_use.sh
  .caws/hooks/dispatch/session_start.sh
  .caws/hooks/dispatch/stop.sh
  .caws/hooks/duplicate-export-check.sh
  .caws/hooks/god-object-check.sh
  .caws/hooks/guard-strikes.sh
  .caws/hooks/lib/agent-pid.sh
  .caws/hooks/lib/agent-surface.sh
  .caws/hooks/lib/caws-state.sh
  .caws/hooks/lib/emit.sh
  .caws/hooks/lib/reprieve.sh
  .caws/hooks/lib/run-handlers.sh
  .caws/hooks/lib/worktree-claim-oracle.cjs
  .caws/hooks/lib/write-allowlist.sh
  .caws/hooks/loc-delta-check.sh
  .caws/hooks/naming-check.sh
  .caws/hooks/plan-transcript-finalize.sh
  .caws/hooks/plan-transcript-snapshot.sh
  .caws/hooks/quality-check.sh
  .caws/hooks/reset-strikes.sh
  .caws/hooks/runtime-paths.sh
  .caws/hooks/scan-secrets.sh
  .caws/hooks/session-caws-status.sh
  .caws/hooks/shortcut-language-check.sh
  .caws/hooks/stop-worktree-check.sh
  .caws/hooks/validate-spec.sh
  .caws/hooks/worktree-guard.sh
  .caws/hooks/worktree-write-guard.sh
  .gitignore
Due: none

feat(content): render related articles and case studies
  app/_components/RelatedContentSection.module.css
  app/_components/RelatedContentSection.tsx
  app/articles/[slug]/ArticleDetailClient.tsx
  app/articles/[slug]/page.tsx
  app/globals.scss
  app/work/[slug]/page.tsx
  app/work/_components/CaseStudyPage.tsx
  utils/caseStudy.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(content): protect relation cleanup and refresh public backlinks
  app/api/maintenance/cleanup-relations/route.ts
  test/api/contentRevalidation.test.ts
  test/api/relationMaintenance.test.ts
  test/utils/contentRelations.test.ts
  utils/supabase/contentRelationMaintenance.server.ts
  utils/supabase/contentRelations.ts
  utils/supabase/revalidateContent.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(build): make production token generation and installs reproducible
  app/blueprints/component-standards/_lib/generateAnatomy.ts
  next.config.mjs
  package.json
  scripts/local-release-build.mjs
  utils/env.ts
  vercel.json
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-RELEASE-RECONCILE-001
  .caws/specs/FIX-RELEASE-RECONCILE-001.yaml
Due: prettier --write

chore(caws): close FIX-RELEASE-RECONCILE-001
  .caws/specs/FIX-RELEASE-RECONCILE-001.yaml
Due: prettier --write

chore(caws): create FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): amend-scope FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): complete FIX-TOKENS-001 scope, invariants, acceptance
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): bind fix-tokens-001 to FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

fix(tokens): serialize shadow composites and restore semantic namespacing in global build
  test/unit/designTokens/transforms.test.ts
  ui/designTokens/core/component.tokens.json
  ui/designTokens/semantic/components/component.tokens.json
  utils/designTokens/core/index.ts
  utils/designTokens/generators/global.ts
  utils/designTokens/utils/transforms.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(tokens): emit resolved default-theme fallbacks in component token css
  test/unit/designTokens/generateCSSTokens.test.mjs
  utils/designTokens/generators/generateCSSTokens.mjs
  utils/designTokens/generators/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(ui): route Button/Card/Input radii through semantic shape tokens
  ui/components/Button/Button.tokens.json
  ui/components/Card/Card.tokens.json
  ui/components/Input/Input.tokens.json
  ui/components/Links/AnimatedLink.tokens.json
Due: prettier --write
