Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(verification): triple-gate the post-check against zero-match silent pass
  scripts/verify-mutation-resistance.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(deps): pin transitives to patched versions; resolve 27 Dependabot alerts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(caws): close TYPEANATOMY-003 after apex negative lock
  .caws/specs/TYPEANATOMY-003.yaml
  .caws/working-spec.yaml
Due: prettier --write

test(verification): add D1/D2/D3 probes and retarget C3 to extractContourPolygon
  scripts/verify-mutation-resistance.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(typeAnatomy): close UX gates for Serif/Finial inspector toggles
  test/e2e/feature-overlay.spec.ts
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-E-serif-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-s-finial-chromium-darwin.png
  test/typeAnatomy/feature-detection.test.ts
  ui/modules/FontInspector/FontInspector.tsx
  ui/modules/FontInspector/fontHeuristics.ts
  utils/typeAnatomy/detectors/serif.ts
  utils/typeAnatomy/glyphFeatureHints.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(typeAnatomy): emit region polygons + render as glyph-fill highlights
  scripts/verify-mutation-resistance.ts
  test/typeAnatomy/feature-accuracy.test.ts
  test/typeAnatomy/runtime-region.test.ts
  test/utils/fixtures/fontFixtures.ts
  ui/modules/FontInspector/SymbolCanvasSVG.tsx
  utils/typeAnatomy/detectors/arm.ts
  utils/typeAnatomy/detectors/bowl.ts
  utils/typeAnatomy/detectors/counter.ts
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/detectors/eye.ts
  utils/typeAnatomy/detectors/stem.ts
  utils/typeAnatomy/detectors/tittle.ts
  utils/typeAnatomy/evidence/regionFromShape.test.ts
  utils/typeAnatomy/evidence/regionFromShape.ts
  utils/typeAnatomy/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

Modernize Supabase auth setup
  app/auth/callback/route.ts
  app/auth/confirm/route.ts
  context/UserContext.tsx
  package.json
  pnpm-lock.yaml
  utils/env.ts
  utils/supabase/client.ts
  utils/supabase/middleware.ts
  utils/supabase/readSession.ts
  utils/supabase/redirect.ts
  utils/supabase/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(typeAnatomy): rewrite serif detector for canonical Newsreader glyphs
  test/e2e/feature-overlay.spec.ts
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-E-serif-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-H-serif-chromium-darwin.png
  test/typeAnatomy/feature-accuracy.test.ts
  utils/typeAnatomy/detectors/serif.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: ignore playwright-report and test-results dirs
  .gitignore
Due: none

test(typeAnatomy): harden font guards + delete synthetic LETTER_* fixtures
  test/typeAnatomy/feature-detection.test.ts
  test/typeAnatomy/font-properties.test.ts
  test/utils/fixtures/svgPaths.ts
  test/utils/typeAnatomy/detector.test.ts
  test/utils/typeAnatomy/features/counters.test.ts
  test/utils/typeAnatomy/features/curves.test.ts
  test/utils/typeAnatomy/features/openings.test.ts
  test/utils/typeAnatomy/features/projections.test.ts
  test/utils/typeAnatomy/features/structural.test.ts
  test/utils/typeAnatomy/features/terminals.test.ts
  test/utils/typeAnatomy/features/vertices.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(e2e): add visual regression baseline for region highlights
  test/e2e/feature-overlay.spec.ts
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-H-crossbar-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-H-stem-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-O-bowl-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-O-counter-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-counter-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-eye-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-i-tittle-chromium-darwin.png
  ui/modules/FontInspector/SymbolCanvas.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(typeAnatomy): emit corridor + projection regions + JSON-driven inspector toggles
  app/blueprints/foundations/typography/fontfeatures.csv
  app/blueprints/foundations/typography/fontfeatures.normalized.json
  app/blueprints/foundations/typography/fontfeatures/anatomy.json
  app/blueprints/foundations/typography/fontfeatures/file-formats.json
  app/blueprints/foundations/typography/fontfeatures/font-technology.json
  app/blueprints/foundations/typography/fontfeatures/opentype-features.json
  app/blueprints/foundations/typography/fontfeatures/spacing-and-metrics.json
  app/blueprints/foundations/typography/fontfeatures/type-styles-and-classification.json
  test/e2e/feature-overlay.spec.ts
  test/typeAnatomy/feature-accuracy.test.ts
  test/typeAnatomy/feature-detection.test.ts
  ui/modules/FontInspector/FontInspector.tsx
  ui/modules/FontInspector/anatomyToggles.ts
  utils/typeAnatomy/detectors/aperture.ts
  utils/typeAnatomy/detectors/ear.ts
  utils/typeAnatomy/detectors/finial.ts
  utils/typeAnatomy/detectors/loop.ts
  utils/typeAnatomy/detectors/serif.ts
  utils/typeAnatomy/detectors/spine.ts
  utils/typeAnatomy/detectors/spur.ts
  utils/typeAnatomy/detectors/tail.ts
  utils/typeAnatomy/evidence/corridorRegion.test.ts
  utils/typeAnatomy/evidence/corridorRegion.ts
  utils/typeAnatomy/evidence/projectionRegion.test.ts
  utils/typeAnatomy/evidence/projectionRegion.ts
  utils/typeAnatomy/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(contracts): migrate 268 contract tokens to structured resolution format
  scripts/check-contract-tokens.mjs
  scripts/migrate-contract-tokens.mjs
  ui/components/Alert/Alert.contract.json
  ui/components/Card/Card.contract.json
  ui/components/Chip/Chip.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Icon/Icon.contract.json
  ui/components/Label/Label.contract.json
  ui/components/List/List.contract.json
  ui/components/OTP/OTP.contract.json
  ui/components/Popover/Popover.contract.json
  ui/components/Postcard/Postcard.contract.json
  ui/components/Progress/Progress.contract.json
  ui/components/ShowMore/ShowMore.contract.json
  ui/components/Shuttle/Shuttle.contract.json
  ui/components/Skeleton/Skeleton.contract.json
  ui/components/SlinkyCursor/SlinkyCursor.contract.json
  ui/components/Switch/Switch.contract.json
  ui/components/Table/Table.contract.json
  ui/components/Tabs/Tabs.contract.json
  ui/components/Text/Text.contract.json
  ui/components/TextField/TextField.contract.json
  ui/components/Truncate/Truncate.contract.json
  ui/components/Walkthrough/Walkthrough.contract.json
Due: prettier --write

Fix navbar theme override cleanup
  ui/modules/Navbar/Navbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(verification): add B1-B4 corner-evidence mutation probes
  .caws/specs/VERIFICATION-002.yaml
  .caws/specs/registry.json
  scripts/verify-mutation-resistance.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(verification): C2 expectedFlips must share one testFile
  scripts/verify-mutation-resistance.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(contracts): apply simplify review fixes
  app/blueprints/component-standards/_lib/generateAnatomy.ts
  scripts/check-contract-tokens.mjs
  scripts/generateContracts.mjs
  scripts/validate-contracts.mjs
Due: prettier --write, eslint --fix --max-warnings 0

fix(typeAnatomy): wire region polygons into the canvas renderer
  test/typeAnatomy/feature-accuracy.test.ts
  ui/modules/FontInspector/SymbolCanvasSVG.tsx
  utils/geometry/drawing.ts
  utils/typeAnatomy/detectors/tittle.ts
  utils/typeAnatomy/evidence/regionFromShape.test.ts
  utils/typeAnatomy/evidence/regionFromShape.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close VERIFICATION-002 after 8/8 mutation probes pass
  .caws/specs/VERIFICATION-002.yaml
  .caws/specs/registry.json
  .caws/working-spec.yaml
Due: prettier --write

test(typeAnatomy): replace vacuous assertions with hard-pinned values
  test/typeAnatomy/feature-detection.test.ts
  test/typeAnatomy/font-properties.test.ts
  test/utils/typeAnatomy/detector.test.ts
  test/utils/typeAnatomy/features/counters.test.ts
  test/utils/typeAnatomy/features/curves.test.ts
  test/utils/typeAnatomy/features/openings.test.ts
  test/utils/typeAnatomy/features/projections.test.ts
  test/utils/typeAnatomy/features/structural.test.ts
  test/utils/typeAnatomy/features/terminals.test.ts
  test/utils/typeAnatomy/features/vertices.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(e2e): add Playwright baselines for Phase 4 + 5 region overlays
  test/e2e/feature-overlay.spec.ts
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-Q-tail-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-S-spine-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-S-spine-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-g-ear-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-g-ear-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-g-loop-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/newsreader-g-loop-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-H-crossbar-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-H-stem-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-O-bowl-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-O-counter-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-aperture-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-aperture-chromium-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-counter-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-e-eye-Mobile-Chrome-darwin.png
  test/e2e/feature-overlay.spec.ts-snapshots/nohemi-i-tittle-Mobile-Chrome-darwin.png
Due: prettier --write, eslint --fix --max-warnings 0

feat(contracts): add data-slot anatomy + slots to 12 simple components; fix Phase A contract errors
  ui/components/AnimatedCard/AnimatedCard.contract.json
  ui/components/Blockquote/Blockquote.contract.json
  ui/components/Blockquote/Blockquote.tsx
  ui/components/Divider/Divider.contract.json
  ui/components/Divider/Divider.tsx
  ui/components/Icon/Icon.contract.json
  ui/components/Icon/Icon.tsx
  ui/components/Image/Image.contract.json
  ui/components/Image/Image.tsx
  ui/components/Input/Input.contract.json
  ui/components/Input/Input.tsx
  ui/components/Label/Label.contract.json
  ui/components/Label/Label.tsx
  ui/components/Skeleton/Skeleton.contract.json
  ui/components/Skeleton/Skeleton.tsx
  ui/components/Spinner/Spinner.contract.json
  ui/components/Spinner/Spinner.tsx
  ui/components/Status/Status.contract.json
  ui/components/Status/Status.tsx
  ui/components/Text/Text.contract.json
  ui/components/Text/Text.tsx
  ui/components/Tooltip/Tooltip.contract.json
  ui/components/Tooltip/Tooltip.tsx
  ui/components/Truncate/Truncate.contract.json
  ui/components/Truncate/Truncate.tsx
  ui/components/Walkthrough/Walkthrough.contract.json
  ui/components/breadcrumbs/Breadcrumbs.contract.json
Due: prettier --write, eslint --fix --max-warnings 0

feat(contracts): add data-slot anatomy + slots to 13 anatomy-rich components (Phase C)
  ui/components/Avatar/Avatar.contract.json
  ui/components/Avatar/Avatar.tsx
  ui/components/Badge/Badge.contract.json
  ui/components/Badge/Badge.tsx
  ui/components/Checkbox/Checkbox.contract.json
  ui/components/Checkbox/Checkbox.tsx
  ui/components/Chip/Chip.contract.json
  ui/components/Chip/Chip.tsx
  ui/components/List/List.contract.json
  ui/components/List/List.tsx
  ui/components/OTP/OTP.contract.json
  ui/components/OTP/OTP.tsx
  ui/components/OTP/slots/OTPError.tsx
  ui/components/OTP/slots/OTPField.tsx
  ui/components/OTP/slots/OTPInput.tsx
  ui/components/OTP/slots/OTPLabel.tsx
  ui/components/OTP/slots/OTPSeparator.tsx
  ui/components/Popover/Popover.contract.json
  ui/components/Popover/Popover.tsx
  ui/components/Postcard/Postcard.contract.json
  ui/components/Postcard/Postcard.tsx
  ui/components/Progress/Progress.contract.json
  ui/components/Progress/Progress.tsx
  ui/components/TextField/TextField.contract.json
  ui/components/TextField/TextField.tsx
  ui/components/Toast/Toast.contract.json
  ui/components/Toast/ToastItem.tsx
  ui/components/Toast/ToastViewport.tsx
  ui/components/Toast/slots/ToastAction.tsx
  ui/components/Toast/slots/ToastClose.tsx
  ui/components/Toast/slots/ToastDescription.tsx
  ui/components/Toast/slots/ToastTitle.tsx
  ui/components/ToggleSwitch/ToggleSwitch.contract.json
  ui/components/ToggleSwitch/ToggleSwitch.tsx
  ui/components/Walkthrough/Walkthrough.contract.json
  ui/components/Walkthrough/Walkthrough.tsx
  ui/components/Walkthrough/slots/WalkthroughControls.tsx
  ui/components/Walkthrough/slots/WalkthroughProgress.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(tokens): resolve all remaining legacy flat contract tokens to zero
  app/designTokens.scss
  scripts/check-contract-tokens.mjs
  scripts/generateContracts.mjs
  scripts/migrate-contract-tokens.mjs
  types/designTokens.ts
  ui/components/AlertNotice/AlertNotice.contract.json
  ui/components/Card/Card.contract.json
  ui/components/Command/Command.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Image/Image.contract.json
  ui/components/PageTransition/PageTransition.contract.json
  ui/components/PageTransition/PageTransition.tokens.generated.scss
  ui/components/PageTransition/PageTransition.tokens.json
  ui/components/Progress/Progress.contract.json
  ui/components/Sheet/Sheet.contract.json
  ui/components/Spinner/Spinner.contract.json
  ui/components/Toast/Toast.contract.json
  ui/components/ToggleSwitch/ToggleSwitch.contract.json
  ui/components/ToggleSwitch/ToggleSwitch.tokens.generated.scss
  ui/components/ToggleSwitch/ToggleSwitch.tokens.json
  ui/components/Tooltip/Tooltip.contract.json
  ui/components/breadcrumbs/Breadcrumbs.contract.json
  ui/components/breadcrumbs/Breadcrumbs.tokens.generated.scss
  ui/components/breadcrumbs/Breadcrumbs.tokens.json
  ui/designTokens/core.tokens.json
  ui/designTokens/core/layer.tokens.json
  ui/designTokens/core/motion.tokens.json
  ui/designTokens/designTokens.json
  ui/designTokens/semantic.tokens.json
  ui/designTokens/semantic/control.tokens.json
  ui/designTokens/semantic/motion.tokens.json
  utils/designTokens/core/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(contracts): add behavioral fields (motion/focus/portal/dismissal/relationships) to 14 components
  .caws/specs/CONTRACTS-001.yaml
  ui/components/Accordion/Accordion.contract.json
  ui/components/AnimatedCard/AnimatedCard.contract.json
  ui/components/AnimatedSection/AnimatedSection.contract.json
  ui/components/AnimatedText/AnimatedText.contract.json
  ui/components/Checkbox/Checkbox.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/OTP/OTP.contract.json
  ui/components/PageTransition/PageTransition.contract.json
  ui/components/Popover/Popover.contract.json
  ui/components/Sheet/Sheet.contract.json
  ui/components/Tabs/Tabs.contract.json
  ui/components/TextField/TextField.contract.json
  ui/components/ToggleSwitch/ToggleSwitch.contract.json
  ui/components/Tooltip/Tooltip.contract.json
Due: prettier --write

feat(contracts): add channels, form, description, a2ui to 36 components
  ui/components/Accordion/Accordion.contract.json
  ui/components/Alert/Alert.contract.json
  ui/components/AnimatedCard/AnimatedCard.contract.json
  ui/components/AnimatedSection/AnimatedSection.contract.json
  ui/components/AnimatedText/AnimatedText.contract.json
  ui/components/Avatar/Avatar.contract.json
  ui/components/Badge/Badge.contract.json
  ui/components/Blockquote/Blockquote.contract.json
  ui/components/Button/Button.contract.json
  ui/components/Checkbox/Checkbox.contract.json
  ui/components/Chip/Chip.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Divider/Divider.contract.json
  ui/components/Icon/Icon.contract.json
  ui/components/Image/Image.contract.json
  ui/components/Input/Input.contract.json
  ui/components/Label/Label.contract.json
  ui/components/List/List.contract.json
  ui/components/OTP/OTP.contract.json
  ui/components/PageTransition/PageTransition.contract.json
  ui/components/Popover/Popover.contract.json
  ui/components/Postcard/Postcard.contract.json
  ui/components/Progress/Progress.contract.json
  ui/components/Sheet/Sheet.contract.json
  ui/components/Skeleton/Skeleton.contract.json
  ui/components/Spinner/Spinner.contract.json
  ui/components/Status/Status.contract.json
  ui/components/Tabs/Tabs.contract.json
  ui/components/Text/Text.contract.json
  ui/components/TextField/TextField.contract.json
  ui/components/Toast/Toast.contract.json
  ui/components/ToggleSwitch/ToggleSwitch.contract.json
  ui/components/Tooltip/Tooltip.contract.json
  ui/components/Truncate/Truncate.contract.json
  ui/components/Walkthrough/Walkthrough.contract.json
  ui/components/breadcrumbs/Breadcrumbs.contract.json
Due: prettier --write

chore(caws): bind spec CONTRACT-GATES-001 to worktree contract-gates-001
  .caws/specs/CONTRACT-GATES-001.yaml
Due: prettier --write

feat(contracts): A1 foundation — four-bucket props schema, generator, validator
  scripts/generateContracts.mjs
  scripts/validate-contracts.mjs
  ui/designTokens/component.contract.schema.json
Due: prettier --write

chore: repair portfolio contract governance gates
  package.json
  scripts/check-kebab-token-vars.mjs
  scripts/check-token-references.mjs
  scripts/validateComponents.mjs
  test/componentContractSchema.test.ts
  ui/components/Alert/Alert.module.scss
  ui/components/AlertNotice/AlertNotice.module.scss
  ui/components/Avatar/Avatar.module.scss
  ui/components/Badge/Badge.module.scss
  ui/components/Blockquote/Blockquote.module.scss
  ui/components/Button/Button.module.scss
  ui/components/Calendar/Calendar.module.scss
  ui/components/Card/Card.module.scss
  ui/components/Chip/Chip.module.scss
  ui/components/Command/Command.module.scss
  ui/components/Details/Details.improved.module.scss
  ui/components/Dialog/Dialog.module.scss
  ui/components/Field/Field.module.scss
  ui/components/Image/Image.module.scss
  ui/components/List/List.module.scss
  ui/components/OTP/OTP.module.scss
  ui/components/Postcard/Postcard.module.scss
  ui/components/Progress/Progress.module.scss
  ui/components/Select/Select.module.scss
  ui/components/Sheet/Sheet.module.scss
  ui/components/ShowMore/ShowMore.module.scss
  ui/components/Shuttle/Shuttle.module.scss
  ui/components/Status/Status.module.scss
  ui/components/Table/Table.module.scss
  ui/components/Tabs/Tabs.module.scss
  ui/components/Text/Text.module.scss
  ui/components/Toast/Toast.module.scss
  ui/components/Tooltip/Tooltip.module.scss
  ui/components/Truncate/Truncate.module.scss
  ui/components/Walkthrough/Walkthrough.module.scss
  ui/components/links/Links.module.scss
  ui/designTokens/component.contract.schema.json
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close CONTRACT-GATES-001 spec post-merge
  .caws/specs/CONTRACT-GATES-001.yaml
Due: prettier --write

feat(contracts): A1 migrations — four-bucket props for Button, Dialog, Tooltip, Input, Checkbox, Field
  ui/components/Button/Button.contract.json
  ui/components/Checkbox/Checkbox.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Field/Field.contract.json
  ui/components/Input/Input.contract.json
  ui/components/Tooltip/Tooltip.contract.json
Due: prettier --write

wip(CAWS): checkpoint dirty state, registry should probably be git ignored.
  .caws/specs/CONTRACTS-001.yaml
  .caws/specs/registry.json
Due: prettier --write

chore(specs): sync full CONTRACTS-001 spec into worktree
  .caws/specs/CONTRACTS-001.yaml
Due: prettier --write

chore(caws): bind spec COMPONENT-GATES-002 to worktree component-gates-002
  .caws/specs/COMPONENT-GATES-002.yaml
Due: prettier --write

feat(contracts): A3 — contractTest helper, behavioral assertions, traceability gate
  .caws/specs/CONTRACTS-001.yaml
  package.json
  scripts/check-contract-traceability.mjs
  test/utils/contractTest.ts
  ui/components/Dialog/Dialog.tsx
  ui/components/Dialog/tests/Dialog.test.tsx
  ui/components/Popover/tests/Popover.test.tsx
  ui/components/Sheet/tests/Sheet.test.tsx
  ui/components/Tooltip/Tooltip.tsx
  ui/components/Tooltip/tests/Tooltip.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(contracts): add kebab-case CSS var checker and fix 374 camelCase refs (A5)
  package.json
  scripts/check-kebab-token-vars.mjs
  ui/components/Alert/Alert.module.scss
  ui/components/AlertNotice/AlertNotice.module.scss
  ui/components/AspectRatio/AspectRatio.module.scss
  ui/components/Avatar/Avatar.module.scss
  ui/components/Badge/Badge.module.scss
  ui/components/Blockquote/Blockquote.module.scss
  ui/components/Button/Button.module.scss
  ui/components/Calendar/Calendar.module.scss
  ui/components/Card/Card.module.scss
  ui/components/Chip/Chip.module.scss
  ui/components/Command/Command.module.scss
  ui/components/Details/Details.improved.module.scss
  ui/components/Dialog/Dialog.module.scss
  ui/components/Field/Field.module.scss
  ui/components/Image/Image.module.scss
  ui/components/List/List.module.scss
  ui/components/OTP/OTP.module.scss
  ui/components/Postcard/Postcard.module.scss
  ui/components/ProfileFlag/ProfileFlag.module.scss
  ui/components/Progress/Progress.module.scss
  ui/components/Select/Select.module.scss
  ui/components/Sheet/Sheet.module.scss
  ui/components/ShowMore/ShowMore.module.scss
  ui/components/Shuttle/Shuttle.module.scss
  ui/components/Status/Status.module.scss
  ui/components/Table/Table.module.scss
  ui/components/Tabs/Tabs.module.scss
  ui/components/Text/Text.module.scss
  ui/components/Toast/Toast.module.scss
  ui/components/ToggleSwitch/toggleSwitch.module.scss
  ui/components/Tooltip/Tooltip.module.scss
  ui/components/Truncate/Truncate.module.scss
  ui/components/VisuallyHidden/VisuallyHidden.module.scss
  ui/components/Walkthrough/Walkthrough.module.scss
  ui/components/links/Links.module.scss
Due: prettier --write, stylelint --fix --allow-empty-input

refactor(contracts): reframe validateComponentLayers as diagnostic, not gate (A2)
  scripts/validateComponentLayers.mjs
Due: none
