Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(worktree): add setup-worktree.sh bootstrap script
  .caws/specs/FIX-A11Y-DECOR-001.yaml
  scripts/setup-worktree.sh
Due: prettier --write

chore(caws): close FIX-A11Y-DECOR-001 spec post-merge
  .caws/specs/FIX-A11Y-DECOR-001.yaml
Due: prettier --write

fix(dev): gate /_next/* Cache-Control headers to production
  .caws/specs/FIX-HMR-CACHE-001.yaml
  next.config.mjs
Due: prettier --write

chore(caws): close FIX-HMR-CACHE-001 spec post-merge
  .caws/specs/FIX-HMR-CACHE-001.yaml
Due: prettier --write

fix(lint): resolve @typescript-eslint/no-unused-vars warnings across 21 files
  scripts/validateAccessibility.ts
  scripts/verify-mutation-resistance.ts
  test/colorHelpers.test.ts
  test/colorHelpers.wcag-oklch.test.ts
  test/components/Chip.test.tsx
  test/components/Field.test.tsx
  test/components/OTP.test.tsx
  test/components/SkeletonSpinner.test.tsx
  test/components/Tabs.test.tsx
  test/components/Toast.test.tsx
  test/components/UtilityComponents.test.tsx
  test/components/Walkthrough.test.tsx
  test/typeAnatomy/font-properties.test.ts
  test/utils/caseStudy.test.ts
  test/utils/featureHeuristics.test.ts
  test/utils/fixtures/svgPaths.ts
  test/utils/tiptap/extensionsRegistry.test.ts
  test/utils/tiptap/htmlGeneration.test.ts
  test/utils/tiptap/schema.test.ts
  utils/accessibility/componentValidator.ts
  utils/accessibility/tokenValidator.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(components): a11y improvements for Select + Walkthrough + PerfPanel
  test/components/Walkthrough.test.tsx
  ui/components/Select/Select.tsx
  ui/components/Select/tests/Select.test.tsx
  ui/components/Select/useSelect.ts
  ui/components/Walkthrough/Walkthrough.tsx
  ui/components/Walkthrough/tests/Walkthrough.test.tsx
  ui/components/Walkthrough/types.ts
  ui/modules/CodeSandbox/primitives/PerfPanel.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(Bio): add shared bio + leverage-pillars module
  ui/modules/Bio/Bio.tsx
  ui/modules/Bio/LeveragePillars.tsx
  ui/modules/Bio/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(home,about): rewrite positioning around operational infrastructure
  .caws/specs/FEAT-HOME-POSITIONING-001.yaml
  app/HomeClient.tsx
  app/about/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FEAT-HOME-POSITIONING-001 spec post-merge
  .caws/specs/FEAT-HOME-POSITIONING-001.yaml
Due: prettier --write

fix(hooks): resolve all 10 react-hooks/rules-of-hooks violations
  ui/components/Details/Details.tsx
  ui/components/Details/DetailsProvider.tsx
  ui/components/Dialog/Dialog.tsx
  ui/components/Popover/PopoverProvider.tsx
  ui/components/Tabs/useTabs.ts
  ui/components/Toast/ToastItem.tsx
  ui/modules/CodeSandbox/primitives/CodeWorkbench.tsx
Due: prettier --write, eslint --fix --max-warnings 0

wip(checkpoint): switch dev to webpack + add FIX-HOOKS-001 spec
  .caws/specs/FIX-HOOKS-001.yaml
  package.json
Due: prettier --write

chore(caws): close FIX-HOOKS-001 spec post-merge
  .caws/specs/FIX-HOOKS-001.yaml
Due: prettier --write

revert positioning at top, succinct and keeps interest without word vomit
  app/HomeClient.tsx
  ui/modules/Bio/Bio.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(home,Bio): add proof points, AI-enabled pillar, sharper hero premise
  .caws/specs/FEAT-BIO-REFINE-001.yaml
  app/HomeClient.tsx
  ui/modules/Bio/Bio.tsx
  ui/modules/Bio/LeveragePillars.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FEAT-BIO-REFINE-001 spec post-merge
  .caws/specs/FEAT-BIO-REFINE-001.yaml
Due: prettier --write

fix(hero): shorten supporting line, move AI-ready premise to bio
  .caws/specs/FIX-HERO-LENGTH-001.yaml
  app/HomeClient.tsx
  ui/modules/Bio/Bio.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-HERO-LENGTH-001 spec post-merge
  .caws/specs/FIX-HERO-LENGTH-001.yaml
Due: prettier --write

Revert "fix(hero): shorten supporting line, move AI-ready premise to bio"
  app/HomeClient.tsx
  ui/modules/Bio/Bio.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Revert "feat(home,Bio): add proof points, AI-enabled pillar, sharper hero premise"
  app/HomeClient.tsx
  ui/modules/Bio/Bio.tsx
  ui/modules/Bio/LeveragePillars.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Revert "feat(home,about): rewrite positioning around operational infrastructure"
  app/HomeClient.tsx
  app/about/page.tsx
  ui/modules/Bio/Bio.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(resume): keep sharing URL after content revert
  app/HomeClient.tsx
  app/about/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

revert(bio): remove unused positioning module
  ui/modules/Bio/Bio.tsx
  ui/modules/Bio/LeveragePillars.tsx
  ui/modules/Bio/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): bind spec BUTTON-001 to worktree button-icon-only
  .caws/specs/BUTTON-001.yaml
Due: prettier --write

refactor(Button): detect icon-only buttons via :has() instead of React heuristic
  ui/components/Button/Button.css
  ui/components/Button/Button.tsx
  ui/components/Button/tests/Button.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close BUTTON-001 spec post-merge
  .caws/specs/BUTTON-001.yaml
Due: prettier --write

chore(caws): bind spec CSS-FIX-001 to worktree css-fix
  .caws/specs/CSS-FIX-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-ENTITIES-001 to worktree fix-entities
  .caws/specs/FIX-ENTITIES-001.yaml
Due: prettier --write

fix(font-inspector,articles): replace broken .module.scss imports
  app/dashboard/articles/new/components/ArticlePreview.tsx
  ui/modules/FontInspector/AnatomyControls.tsx
  ui/modules/FontInspector/FeatureCoachmark.tsx
  ui/modules/FontInspector/InspectorControls.tsx
  ui/modules/FontInspector/SymbolCanvas.tsx
  ui/modules/FontInspector/SymbolCanvasSVG.tsx
  ui/modules/FontInspector/SymbolGrid.tsx
  ui/modules/FontInspector/TypographyArticleContent.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close CSS-FIX-001 spec post-merge
  .caws/specs/CSS-FIX-001.yaml
Due: prettier --write

fix(details): escape entities in Examples.tsx code samples
  ui/components/Details/Examples.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-ENTITIES-001 spec post-merge
  .caws/specs/FIX-ENTITIES-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-ERRBND-001 to worktree fix-errbnd
  .caws/specs/FIX-ERRBND-001.yaml
Due: prettier --write

fix(bluesky-page): narrow try/catch to data fetch only
  app/darianrosebrook/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-ERRBND-001 spec post-merge
  .caws/specs/FIX-ERRBND-001.yaml
Due: prettier --write

chore(caws): bind spec FIX-REFS-001 to worktree fix-refs
  .caws/specs/FIX-REFS-001.yaml
Due: prettier --write

fix(glossaryCards): track container width via ResizeObserver state
  app/heroes/glossaryCards.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Accordion): measure content height into state via ResizeObserver
  ui/components/Accordion/Accordion.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(focus): return query function from useModalFocus, not derived snapshot
  utils/focus/index.ts
Due: prettier --write, eslint --fix --max-warnings 0
