Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): amend FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): evidence FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): close FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): create FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): bind feat-boxmodel-003 to FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): amend FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): evidence FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): close FEAT-BOXMODEL-003
  .caws/specs/FEAT-BOXMODEL-003.yaml
Due: prettier --write

chore(caws): create CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

chore(caws): amend-scope CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

chore(caws): bind chore-boxmodel-cleanup to CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

chore: remove the CSS migration playbook
  CSS-MIGRATION-PLAYBOOK.md
  ui/components/Button/Button.css
  ui/components/Card/Card.css
  ui/components/Input/Input.css
  ui/components/Label/Label.css
  ui/components/Skeleton/Skeleton.css
  ui/components/SlinkyCursor/SlinkyCursor.css
  ui/components/Spinner/Spinner.css
  ui/components/TextField/TextField.css
  ui/components/Truncate/Truncate.css
  ui/components/VisuallyHidden/VisuallyHidden.css
  ui/modules/SideNavigation/SideNavigation.css
  ui/modules/Sidebar/Sidebar.css
  utils/designTokens/generators/generateCSSTokens.mjs
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): evidence CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

chore(caws): close CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

chore(caws): reopen CHORE-BOXMODEL-CLEANUP-001
  .caws/specs/CHORE-BOXMODEL-CLEANUP-001.yaml
Due: prettier --write

feat(foundations): per-tab interplay content and server-rendered JSON-LD
  app/blueprints/foundations/_components/EducationPageTemplate.tsx
  app/blueprints/foundations/_lib/pageWrapper.tsx
  app/blueprints/foundations/color/page.module.css
  app/blueprints/foundations/motion/page.module.css
  types/foundationContent.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Color Foundations as a gold-standard education page
  app/blueprints/foundations/color/page.tsx
  test/blueprints/ColorPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(foundations): fill Motion & Duration Foundations as a gold-standard education page
  app/blueprints/foundations/motion/page.tsx
  test/blueprints/MotionPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(e2e): scope h1 locator, poll streamed JSON-LD, enroll color and motion
  test/e2e/foundationNavigation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

feat(foundations): fill Spacing & Sizing Foundations as an education page
  app/blueprints/foundations/spacing/page.module.css
  app/blueprints/foundations/spacing/page.tsx
  test/blueprints/SpacingPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Layout Foundations as an education page
  app/blueprints/foundations/layout/page.module.css
  app/blueprints/foundations/layout/page.tsx
  test/blueprints/LayoutPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Icon Foundations as an education page
  app/blueprints/foundations/icons/page.module.css
  app/blueprints/foundations/icons/page.tsx
  test/blueprints/IconsPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Elevation & Shadow Foundations as an education page
  app/blueprints/foundations/elevation/page.module.css
  app/blueprints/foundations/elevation/page.tsx
  test/blueprints/ElevationPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Radius & Shape Foundations as an education page
  app/blueprints/foundations/radius/page.module.css
  app/blueprints/foundations/radius/page.tsx
  test/blueprints/RadiusPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Grid System Foundations as an education page
  app/blueprints/foundations/grid/page.module.css
  app/blueprints/foundations/grid/page.tsx
  test/blueprints/GridPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(foundations): fill Border & Stroke Foundations as an education page
  app/blueprints/foundations/borders/page.module.css
  app/blueprints/foundations/borders/page.tsx
  test/blueprints/BordersPage.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

test(e2e): enroll the seven remaining foundation pages; format new tests
  app/blueprints/foundations/_components/EducationPageTemplate.module.css
  app/blueprints/foundations/_components/TrackSelector.tsx
  app/blueprints/foundations/borders/page.tsx
  app/blueprints/foundations/elevation/page.tsx
  app/blueprints/foundations/grid/page.tsx
  app/blueprints/foundations/icons/page.tsx
  app/blueprints/foundations/layout/page.tsx
  app/blueprints/foundations/radius/page.tsx
  app/blueprints/foundations/spacing/page.tsx
  app/blueprints/foundations/tokens/page.module.css
  app/blueprints/foundations/tokens/resolver-module/page.tsx
  app/blueprints/foundations/tokens/theming/_components/ActivityCard.tsx
  app/blueprints/foundations/tokens/theming/_components/AlertCard.tsx
  app/blueprints/foundations/tokens/theming/_components/CompanyCardVisual.tsx
  app/blueprints/foundations/tokens/theming/_components/DashboardDemo.module.css
  app/blueprints/foundations/tokens/theming/_components/DeliveryCard.tsx
  app/blueprints/foundations/tokens/theming/_components/EditProductCard.tsx
  app/blueprints/foundations/tokens/theming/_components/HeroProductCards.tsx
  app/blueprints/foundations/tokens/theming/_components/InvoicePaidCard.tsx
  app/blueprints/foundations/tokens/theming/_components/MetricsCard.tsx
  app/blueprints/foundations/tokens/theming/_components/NotificationCard.tsx
  app/blueprints/foundations/tokens/theming/_components/OrdersTableCard.tsx
  app/blueprints/foundations/tokens/theming/_components/ProfileEditCard.tsx
  app/blueprints/foundations/tokens/theming/_components/SearchCard.tsx
  app/blueprints/foundations/tokens/theming/_components/SettingsCard.tsx
  app/blueprints/foundations/tokens/theming/_components/ShoppingCartCard.tsx
  app/blueprints/foundations/tokens/theming/_components/SizeSelectorCard.tsx
  app/blueprints/foundations/tokens/theming/_components/TabsCard.tsx
  app/blueprints/foundations/tokens/theming/_components/TagsAndBookmarksCards.tsx
  app/blueprints/foundations/tokens/theming/_components/TeamCard.tsx
  app/blueprints/foundations/tokens/theming/_components/TodoCard.tsx
  app/blueprints/foundations/tokens/theming/page.module.css
  app/blueprints/foundations/tokens/theming/page.tsx
  test/blueprints/BordersPage.render.test.tsx
  test/blueprints/ElevationPage.render.test.tsx
  test/blueprints/RadiusPage.render.test.tsx
  test/blueprints/SpacingPage.render.test.tsx
  test/e2e/foundationNavigation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
