Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(caws): evidence FIX-COMPONENT-STANDARDS-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

chore(caws): close FIX-COMPONENT-STANDARDS-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

chore(caws): create FIX-METADATA-SPECIFICITY-001
  .caws/specs/FIX-METADATA-SPECIFICITY-001.yaml
Due: prettier --write

chore(caws): bind metadata-specificity-001 to FIX-METADATA-SPECIFICITY-001
  .caws/specs/FIX-METADATA-SPECIFICITY-001.yaml
Due: prettier --write

fix(dashboard): replace the metadata form's 33 !important flags with scoped selectors
  app/dashboard/articles/new/components/ArticleMetadataForm.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): evidence FIX-METADATA-SPECIFICITY-001
  .caws/specs/FIX-METADATA-SPECIFICITY-001.yaml
Due: prettier --write

chore(caws): close FIX-METADATA-SPECIFICITY-001
  .caws/specs/FIX-METADATA-SPECIFICITY-001.yaml
Due: prettier --write

chore(caws): create FEAT-PICKER-REMOVE-001
  .caws/specs/FEAT-PICKER-REMOVE-001.yaml
Due: prettier --write

chore(caws): bind picker-remove-001 to FEAT-PICKER-REMOVE-001
  .caws/specs/FEAT-PICKER-REMOVE-001.yaml
Due: prettier --write

chore(caws): evidence FEAT-PICKER-REMOVE-001
  .caws/specs/FEAT-PICKER-REMOVE-001.yaml
Due: prettier --write

refactor(dashboard): put the picker remove control on the IconButton primitive
  app/dashboard/_components/RelatedContentPicker.module.css
  app/dashboard/_components/RelatedContentPicker.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close FEAT-PICKER-REMOVE-001
  .caws/specs/FEAT-PICKER-REMOVE-001.yaml
Due: prettier --write

chore(caws): create FIX-DRIFT-HYGIENE-001
  .caws/specs/FIX-DRIFT-HYGIENE-001.yaml
Due: prettier --write

chore(caws): amend-scope FIX-DRIFT-HYGIENE-001
  .caws/specs/FIX-DRIFT-HYGIENE-001.yaml
Due: prettier --write

chore(caws): bind drift-hygiene to FIX-DRIFT-HYGIENE-001
  .caws/specs/FIX-DRIFT-HYGIENE-001.yaml
Due: prettier --write

chore(caws): author FIX-DRIFT-HYGIENE-001 blast radius, invariants, acceptance
  .caws/specs/FIX-DRIFT-HYGIENE-001.yaml
Due: prettier --write

chore(caws): amend FEAT-FORM-CONTROLS-001
  .caws/specs/FEAT-FORM-CONTROLS-001.yaml
Due: prettier --write

fix(tokens): regenerate stale committed token artifacts and drop dead component group
  types/designTokens.ts
  ui/designTokens/README.md
  ui/designTokens/core.tokens.json
  ui/designTokens/designTokens.json
  utils/designTokens/generators/compose.ts
  utils/designTokens/generators/generateTypes.mjs
Due: prettier --write, eslint --fix --max-warnings 0

test(tokens): guard committed token artifacts against source drift
  test/utils/designTokens/artifacts.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(ui): keep PageTransition children in server-rendered HTML
  test/components/pageTransition.ssr.test.tsx
  ui/components/PageTransition/PageTransition.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor(scripts): make visibility gate Built-only and convention-accurate
  scripts/validateComponentVisibility.mjs
  test/fixtures/component-visibility/bad-index/Widget/Widget.css
  test/fixtures/component-visibility/bad-index/Widget/Widget.tsx
  test/fixtures/component-visibility/bad-index/Widget/index.ts
  test/fixtures/component-visibility/full-pass/Widget/Widget.css
  test/fixtures/component-visibility/full-pass/Widget/Widget.tsx
  test/fixtures/component-visibility/full-pass/Widget/index.ts
  test/fixtures/component-visibility/missing-css/Widget/Widget.tsx
  test/fixtures/component-visibility/missing-css/Widget/index.ts
  test/fixtures/component-visibility/module-scss/Widget/Widget.module.scss
  test/fixtures/component-visibility/module-scss/Widget/Widget.tsx
  test/fixtures/component-visibility/module-scss/Widget/index.tsx
  test/unit/scripts/validateComponentVisibility.test.mjs
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

test(blueprints): pin Tier-1 file invariant for Built registry entries
  test/blueprints/componentsRegistry.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(cleanup): delete dead componentAPI and playgroundLoader modules
  app/blueprints/component-standards/_lib/componentAPI.ts
  app/blueprints/component-standards/_lib/playgroundLoader.ts
Due: prettier --write, eslint --fix --max-warnings 0

style: prettier formatting and type casts for hygiene tests and gate
  scripts/validateComponentVisibility.mjs
  test/blueprints/componentsRegistry.test.ts
  test/components/pageTransition.ssr.test.tsx
  test/fixtures/component-visibility/bad-index/Widget/Widget.tsx
  test/fixtures/component-visibility/full-pass/Widget/Widget.tsx
  test/fixtures/component-visibility/missing-css/Widget/Widget.tsx
  test/fixtures/component-visibility/module-scss/Widget/Widget.tsx
  test/unit/scripts/validateComponentVisibility.test.mjs
  test/utils/designTokens/artifacts.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-DRIFT-HYGIENE-001
  .caws/specs/FIX-DRIFT-HYGIENE-001.yaml
Due: prettier --write
