Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(ui): component layer audit and GSAP removal
  ui/components/AlertNotice/AlertNotice.tsx
  ui/components/Badge/Badge.module.scss
  ui/components/Badge/Badge.tsx
  ui/components/Calendar/Calendar.tsx
  ui/components/Chip/Chip.module.scss
  ui/components/Chip/Chip.tsx
  ui/components/Dialog/Dialog.module.scss
  ui/components/Dialog/Dialog.tsx
  ui/components/Field/SwitchAdapter.tsx
  ui/components/Popover/Popover.module.scss
  ui/components/Popover/Popover.tsx
  ui/components/ProfileFlag/ProfileFlag.tsx
  ui/components/Status/Status.tsx
  ui/components/Switch/Switch.module.scss
  ui/components/Switch/Switch.tsx
  ui/components/Switch/SwitchField.tsx
  ui/components/Switch/index.tsx
  ui/components/Toast/Toast.module.scss
  ui/components/Toast/Toast.tsx
  ui/components/Toast/slots/ToastAction.tsx
  ui/components/Toast/slots/ToastClose.tsx
  ui/components/Toast/slots/ToastDescription.tsx
  ui/components/Toast/slots/ToastTitle.tsx
  ui/components/Tooltip/Tooltip.module.scss
  ui/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

refactor(ui): migrate from deprecated components
  app/dashboard/_components/ContentEditor.tsx
  app/page.tsx
  ui/components/ToggleSwitch/ToggleSwitch.tsx
  ui/modules/FontInspector/AnatomyControls.tsx
  ui/modules/Navbar/Navbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: correct broken design token references across components
  scripts/check-token-references.mjs
  ui/components/Accordion/Accordion.module.scss
  ui/components/Alert/Alert.module.scss
  ui/components/AlertNotice/AlertNotice.module.scss
  ui/components/Badge/Badge.module.scss
  ui/components/Badge/Badge.tsx
  ui/components/Blockquote/Blockquote.module.scss
  ui/components/Card/Card.module.scss
  ui/components/Chip/Chip.module.scss
  ui/components/Command/Command.module.scss
  ui/components/Details/Details.improved.module.scss
  ui/components/Details/Details.module.scss
  ui/components/Divider/Divider.module.scss
  ui/components/Image/Image.module.scss
  ui/components/Input/Input.module.scss
  ui/components/Label/Label.module.scss
  ui/components/List/List.module.scss
  ui/components/Popover/Popover.module.scss
  ui/components/Postcard/Postcard.module.scss
  ui/components/Skeleton/Skeleton.module.scss
  ui/components/Switch/Switch.module.scss
  ui/components/Table/Table.module.scss
  ui/components/Tabs/Tabs.module.scss
  ui/components/Text/Text.module.scss
  ui/components/ToggleSwitch/toggleSwitch.module.scss
  ui/components/Truncate/Truncate.module.scss
  ui/components/Walkthrough/Walkthrough.module.scss
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(ui): revert Status deprecation - distinct from Badge
  app/page.tsx
  ui/components/Status/Status.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update pnpm lockfile to sync with package.json
  pnpm-lock.yaml
Due: prettier --write

fix(component-displaycase): use SwitchField instead of Switch with children
  app/component-displaycase/component-grid.client.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(blueprints): correct regex patterns and OTP backspace navigation
  app/blueprints/component-standards/component-complexity/assemblies/page.tsx
  app/blueprints/component-standards/component-complexity/composer/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(blueprints): fix promo code validation and OTP completion bugs
  app/blueprints/component-standards/component-complexity/assemblies/page.tsx
  app/blueprints/component-standards/component-complexity/composer/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(blueprints): redesign component complexity overview page
  app/blueprints/component-standards/component-complexity/page.module.scss
  app/blueprints/component-standards/component-complexity/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(blueprints): fix Sandpack syntax errors in assemblies page
  app/blueprints/component-standards/component-complexity/assemblies/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: font inspector label visibility and left side bearing rendering
  app/BlueprintsWrapper.tsx
  app/blueprints/page.tsx
  app/cascade-layers.scss
  app/globals.scss
  app/heroes/GlossaryCardsWrapper.tsx
  app/heroes/SwatchesWrapper.tsx
  app/heroes/blueprints.tsx
  app/heroes/svgIllustration.tsx
  app/layout.tsx
  app/offline/page.module.css
  app/offline/page.tsx
  next.config.mjs
  public/sw.js
  test-results/avatar-page.png
  test-results/button-page.png
  test-results/component-standards-index.png
  test-results/e2e-results.json
  ui/components/Icon/Icon.tsx
  ui/components/Switch/Switch.module.scss
  ui/components/Switch/Switch.tokens.generated.scss
  ui/components/Switch/Switch.tokens.json
  ui/modules/FontInspector/FontInspector.tsx
  ui/modules/Footer/Footer.tsx
  ui/modules/Footer/Marquee.tsx
  utils/geometry/drawing.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore: upgrade to Next.js 16.1.1 and fix configuration issues
  app/globals.scss
  eslint.config.mjs
  next.config.mjs
  package-lock.json
  package.json
  types/sandpack-react.d.ts
  ui/components/Button/Button.module.scss
  utils/env.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

udpate
  app/about/page.tsx
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.tsx
  app/page.tsx
  types/sandpack-react.d.ts
  ui/modules/CodeSandbox/primitives/CodeWorkbench.tsx
  ui/modules/LogoMarquee/LogoSprite.jsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: prettier --write

update metadata
  app/about/page.tsx
  app/articles/page.tsx
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.tsx
  app/blueprints/page.tsx
  app/dashboard/_components/ContentEditor.tsx
  app/dashboard/articles/new/components/SaveStatus.tsx
  app/dashboard/articles/new/hooks/useAutoSave.ts
  app/dashboard/articles/new/page.tsx
  app/page.tsx
  app/work/page.tsx
  proxy.ts
  ui/modules/Tiptap/Tiptap.tsx
  utils/supabase/middleware.ts
Due: prettier --write, eslint --fix --max-warnings 0

update to header nav and article editing
  app/api/articles/[slug]/duplicate/route.ts
  app/api/case-studies/[slug]/route.ts
  app/auth/callback/route.ts
  app/dashboard/_components/ContentEditor.tsx
  app/dashboard/_components/DashboardNav.tsx
  app/dashboard/articles/[slug]/page.tsx
  app/dashboard/articles/_components/ArticleCard.tsx
  app/dashboard/articles/_components/ArticleFilters.tsx
  app/dashboard/articles/_components/EmptyState.tsx
  app/dashboard/articles/_components/index.ts
  app/dashboard/articles/articles.module.scss
  app/dashboard/articles/new/components/ArticleMetadataForm.module.scss
  app/dashboard/articles/new/components/ArticleMetadataForm.tsx
  app/dashboard/articles/new/components/EditorActions.tsx
  app/dashboard/articles/new/components/EditorLayout.tsx
  app/dashboard/articles/new/hooks/useAutoSave.ts
  app/dashboard/articles/new/page.tsx
  app/dashboard/articles/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/page.module.scss
  app/layout.tsx
  app/work/_components/CaseStudyPage.tsx
  context/UserContext.tsx
  test/e2e/tiptap-editor.spec.ts
  test/unit/tiptap-draft.test.ts
  ui/modules/ErrorBoundary/EditorErrorBoundary.tsx
  ui/modules/FontInspector/SymbolCanvasSVG.tsx
  ui/modules/Navbar/Navbar.tsx
  ui/modules/Tiptap/extensionsRegistry.ts
  ui/modules/Tiptap/tiptap.module.css
  ui/modules/Toolbar/Toolbar.module.scss
  ui/modules/Toolbar/Toolbar.tsx
  utils/env.ts
  utils/schemas/article.schema.ts
  utils/supabase/middleware.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

feat(docs): implement best-in-class documentation enhancements
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.module.scss
  app/blueprints/component-standards/_components/ComprehensiveComponentDoc.tsx
  app/blueprints/component-standards/i18n/rtl-example/page.tsx
  app/blueprints/component-standards/page.tsx
  ui/modules/CodeSandbox/primitives/PreviewControls.tsx
  ui/modules/CodeSandbox/primitives/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(tokens): remove invalid namespace prefixes from token references
  app/designTokens.scss
  ui/designTokens/designTokens.json
  ui/designTokens/semantic.tokens.json
  ui/designTokens/semantic/color.tokens.json
  ui/designTokens/semantic/components/component.tokens.json
  ui/designTokens/semantic/components/components.tokens.json
Due: prettier --write, stylelint --fix --allow-empty-input

fix(build): add axe-core dependency and fix middleware location
  app/dashboard/middleware.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

fix(types): resolve TypeScript errors for API routes and components
  app/api/articles/[slug]/route.ts
  app/api/case-studies/[slug]/route.ts
  app/articles/[slug]/ShareLinks.tsx
  package-lock.json
  package.json
  ui/components/AnimatedSection/AnimatedSection.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(husky): add pre-push hook to run build check
  .husky/pre-push
Due: none

fix(deps): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: prettier --write

Fix contour classification and crossbar detection alignment
  ui/modules/FontInspector/SymbolCanvas.tsx
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/geometryCache.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating the type inspector
  test/utils/fixtures/mockGlyph.ts
  test/utils/fixtures/svgPaths.ts
  test/utils/geometry/geometryCore.test.ts
  test/utils/typeAnatomy/detector.test.ts
  test/utils/typeAnatomy/features/counters.test.ts
  test/utils/typeAnatomy/features/curves.test.ts
  test/utils/typeAnatomy/features/openings.test.ts
  test/utils/typeAnatomy/features/projections.test.ts
  test/utils/typeAnatomy/features/structural.test.ts
  test/utils/typeAnatomy/features/terminals.test.ts
  test/utils/typeAnatomy/features/vertices.test.ts
  ui/modules/FontInspector/FontInspector.tsx
  ui/modules/FontInspector/SymbolCanvasSVG.tsx
  utils/geometry/drawing.ts
  utils/typeAnatomy/detector.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add card border color and elevation variations per brand
  ui/designTokens/brands/canary.tokens.json
  ui/designTokens/brands/corporate.tokens.json
  ui/designTokens/brands/default.tokens.json
  ui/designTokens/brands/forest.tokens.json
  ui/designTokens/brands/midnight.tokens.json
  ui/designTokens/brands/monochrome.tokens.json
  ui/designTokens/brands/ocean.tokens.json
  ui/designTokens/brands/rose.tokens.json
  ui/designTokens/brands/slate.tokens.json
  ui/designTokens/brands/sunset.tokens.json
  ui/designTokens/core/elevation.tokens.json
Due: prettier --write

Add brand theming system and BrandSwitcher component
  app/blueprints/foundations/tokens/theming/_components/DashboardDemo.module.scss
  app/blueprints/foundations/tokens/theming/_components/DashboardDemo.tsx
  app/blueprints/foundations/tokens/theming/_components/index.ts
  app/blueprints/foundations/tokens/theming/page.module.scss
  context/BrandContext.tsx
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/components/BrandSwitcher/BrandSwitcher.tokens.generated.scss
  ui/components/BrandSwitcher/BrandSwitcher.tokens.json
  ui/components/BrandSwitcher/BrandSwitcher.tsx
  ui/components/BrandSwitcher/index.ts
  ui/designTokens/brands/_schema.json
  ui/designTokens/density/compact.tokens.json
  ui/designTokens/density/default.tokens.json
  ui/designTokens/density/spacious.tokens.json
  ui/designTokens/density/tight.tokens.json
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

update to design tokens to avoid broken references
  app/designTokens.scss
  types/designTokens.ts
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/designTokens/brands/monochrome.tokens.json
  ui/designTokens/designTokens.json
  ui/designTokens/resolver.json
  utils/designTokens/generators/global.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix colors on brand tokens
  app/designTokens.scss
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/designTokens/brands/canary.tokens.json
  ui/designTokens/brands/corporate.tokens.json
  ui/designTokens/brands/default.tokens.json
  ui/designTokens/brands/forest.tokens.json
  ui/designTokens/brands/midnight.tokens.json
  ui/designTokens/brands/ocean.tokens.json
  ui/designTokens/brands/slate.tokens.json
  ui/designTokens/brands/sunset.tokens.json
  ui/designTokens/designTokens.json
Due: prettier --write, stylelint --fix --allow-empty-input

Add prose property to SectionSpec type
  ui/modules/CodeSandbox/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix security vulnerabilities in dependencies
  package.json
  ui/modules/Toolbar/Toolbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Sync lockfile with updated deps and fix styled-jsx type errors
  pnpm-lock.yaml
  ui/modules/CodeSandbox/primitives/LoadingSpinner.tsx
  ui/modules/Tiptap/Extensions/CodeBlockExtended/CodeBlockComponent.tsx
  ui/modules/Tiptap/Extensions/Details/DetailsNodeView.tsx
  ui/modules/Tiptap/Extensions/TableOfContents/TableOfContentsNodeView.tsx
Due: prettier --write, eslint --fix --max-warnings 0
