Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): bind close-glyph-001 to FEAT-CLOSE-GLYPH-001
  .caws/specs/FEAT-CLOSE-GLYPH-001.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-CLOSE-GLYPH-001
  .caws/specs/FEAT-CLOSE-GLYPH-001.yaml
Due: prettier --write

chore(caws): evidence FEAT-CLOSE-GLYPH-001
  .caws/specs/FEAT-CLOSE-GLYPH-001.yaml
Due: prettier --write

feat(dashboard): add the close glyph and put the properties close on IconButton
  app/dashboard/_components/ContentEditor.module.css
  app/dashboard/_components/ContentEditor.tsx
  app/dashboard/_components/Icon.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close FEAT-CLOSE-GLYPH-001
  .caws/specs/FEAT-CLOSE-GLYPH-001.yaml
Due: prettier --write

style: fix a prettier violation the whole-project lint catches
  test/dashboard/ArticleFilters.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): create FIX-DESTRUCTIVE-TOKEN-001
  .caws/specs/FIX-DESTRUCTIVE-TOKEN-001.yaml
Due: prettier --write

chore(caws): bind destructive-token-001 to FIX-DESTRUCTIVE-TOKEN-001
  .caws/specs/FIX-DESTRUCTIVE-TOKEN-001.yaml
Due: prettier --write

fix(tiptap): hover the delete block in the semantic danger colour
  ui/modules/Tiptap/FloatingBlockMenu.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-DESTRUCTIVE-TOKEN-001
  .caws/specs/FIX-DESTRUCTIVE-TOKEN-001.yaml
Due: prettier --write

chore(caws): close FIX-DESTRUCTIVE-TOKEN-001
  .caws/specs/FIX-DESTRUCTIVE-TOKEN-001.yaml
Due: prettier --write

chore(caws): create FEAT-EDITOR-FIELDS-001
  .caws/specs/FEAT-EDITOR-FIELDS-001.yaml
Due: prettier --write

chore(caws): bind editor-fields-001 to FEAT-EDITOR-FIELDS-001
  .caws/specs/FEAT-EDITOR-FIELDS-001.yaml
Due: prettier --write

refactor(dashboard): move the editor properties fields onto the Input primitive
  app/dashboard/_components/ContentEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FEAT-EDITOR-FIELDS-001
  .caws/specs/FEAT-EDITOR-FIELDS-001.yaml
Due: prettier --write

chore(caws): close FEAT-EDITOR-FIELDS-001
  .caws/specs/FEAT-EDITOR-FIELDS-001.yaml
Due: prettier --write

chore(caws): create FIX-METADATA-IMPORTANTS-001
  .caws/specs/FIX-METADATA-IMPORTANTS-001.yaml
Due: prettier --write

chore(caws): bind metadata-importants-001 to FIX-METADATA-IMPORTANTS-001
  .caws/specs/FIX-METADATA-IMPORTANTS-001.yaml
Due: prettier --write

chore(caws): close FIX-METADATA-IMPORTANTS-001
  .caws/specs/FIX-METADATA-IMPORTANTS-001.yaml
Due: prettier --write

chore(caws): create FIX-COMPONENT-STANDARDS-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

chore(caws): amend-scope FIX-COMPONENT-STANDARDS-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

chore(caws): activate FIX-COMPONENT-STANDARDS-001 on worktree component-standards-docs-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

refactor(styles): rename codesandbox-theming to plain css
  app/blueprints/component-standards/_components/codesandbox-theming.css
Due: prettier --write, stylelint --fix --allow-empty-input

test(blueprints): pin breadcrumb navigation in section layouts
  test/blueprints/ComponentStandardsLayout.render.test.tsx
  test/blueprints/FoundationsLayout.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(blueprints): re-enable Breadcrumbs in component-standards and foundations layouts
  app/blueprints/component-standards/layout.tsx
  app/blueprints/foundations/layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): add components registry drift guard
  test/blueprints/componentsRegistry.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(data): regenerate components-transformed.json from disk
  app/blueprints/component-standards/components-transformed.json
Due: prettier --write

fix(blueprints): filesystem-first components registry generator and consumers
  app/blueprints/component-standards/_components/StatusMatrix.tsx
  app/blueprints/component-standards/_lib/componentsData.ts
  app/blueprints/component-standards/components.schema.json
  package.json
  scripts/generateComponentsRegistry.mjs
  test/components/transformed.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): pin extractProps behaviors
  test/blueprints/extractProps.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(blueprints): targeted extractProps repairs for component doc API tables
  app/blueprints/component-standards/_lib/extractProps.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): pin StatusMatrix row contract and absent Docs column
  test/blueprints/StatusMatrix.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

style: prettier formatting for registry generator and new tests
  scripts/generateComponentsRegistry.mjs
  test/blueprints/ComponentStandardsLayout.render.test.tsx
  test/blueprints/componentsRegistry.test.ts
  test/blueprints/extractProps.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-COMPONENT-STANDARDS-001
  .caws/specs/FIX-COMPONENT-STANDARDS-001.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
