Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(tokens): emit dark-vars only when design.paths.dark explicit (D10)
  app/designTokens.scss
  utils/designTokens/generators/global.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

Add prose property to SectionSpec type
  ui/modules/CodeSandbox/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(typeAnatomy): introduce orthogonal-thickness evidence predicate, fix crossbar height
  test/typeAnatomy/feature-accuracy.test.ts
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/evidence/measureOrthogonalThickness.test.ts
  utils/typeAnatomy/evidence/measureOrthogonalThickness.ts
Due: prettier --write, eslint --fix --max-warnings 0

update to design tokens to avoid broken references
  app/designTokens.scss
  types/designTokens.ts
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/designTokens/brands/monochrome.tokens.json
  ui/designTokens/designTokens.json
  ui/designTokens/resolver.json
  utils/designTokens/generators/global.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

Sync lockfile with updated deps and fix styled-jsx type errors
  pnpm-lock.yaml
  ui/modules/CodeSandbox/primitives/LoadingSpinner.tsx
  ui/modules/Tiptap/Extensions/CodeBlockExtended/CodeBlockComponent.tsx
  ui/modules/Tiptap/Extensions/Details/DetailsNodeView.tsx
  ui/modules/Tiptap/Extensions/TableOfContents/TableOfContentsNodeView.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(eslint): drop duplicate @typescript-eslint plugin registration (D9)
  eslint.config.mjs
Due: none

Add brand theming system and BrandSwitcher component
  app/blueprints/foundations/tokens/theming/_components/DashboardDemo.module.scss
  app/blueprints/foundations/tokens/theming/_components/DashboardDemo.tsx
  app/blueprints/foundations/tokens/theming/_components/index.ts
  app/blueprints/foundations/tokens/theming/page.module.scss
  context/BrandContext.tsx
  ui/components/BrandSwitcher/BrandSwitcher.module.scss
  ui/components/BrandSwitcher/BrandSwitcher.tokens.generated.scss
  ui/components/BrandSwitcher/BrandSwitcher.tokens.json
  ui/components/BrandSwitcher/BrandSwitcher.tsx
  ui/components/BrandSwitcher/index.ts
  ui/designTokens/brands/_schema.json
  ui/designTokens/density/compact.tokens.json
  ui/designTokens/density/default.tokens.json
  ui/designTokens/density/spacious.tokens.json
  ui/designTokens/density/tight.tokens.json
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(brand): atomic applyBrand, scope keyboard, commit-time interval clamp
  app/blueprints/foundations/tokens/theming/page.tsx
  context/BrandContext.tsx
  ui/components/BrandSwitcher/BrandSwitcher.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Fix security vulnerabilities in dependencies
  package.json
  ui/modules/Toolbar/Toolbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor(tiptap,sandbox): replace global <style jsx> with CSS modules (D3)
  ui/modules/CodeSandbox/primitives/LoadingSpinner.module.scss
  ui/modules/CodeSandbox/primitives/LoadingSpinner.tsx
  ui/modules/Tiptap/Extensions/CodeBlockExtended/CodeBlockComponent.module.scss
  ui/modules/Tiptap/Extensions/CodeBlockExtended/CodeBlockComponent.tsx
  ui/modules/Tiptap/Extensions/Details/DetailsNodeView.module.scss
  ui/modules/Tiptap/Extensions/Details/DetailsNodeView.tsx
  ui/modules/Tiptap/Extensions/TableOfContents/TableOfContentsNodeView.module.scss
  ui/modules/Tiptap/Extensions/TableOfContents/TableOfContentsNodeView.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

Update multi-brand theming documentation to reflect actual implementation
  app/blueprints/foundations/tokens/theming/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Add type anatomy accuracy verification
  scripts/render-type-anatomy-overlays.ts
  test/typeAnatomy/feature-accuracy.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(typeAnatomy): forward rect shapes from crossbar; harden detectors (D1/D11)
  test/typeAnatomy/feature-accuracy.test.ts
  test/typeAnatomy/feature-detection.test.ts
  test/utils/fixtures/fontFixtures.ts
  test/utils/fixtures/mockGlyph.ts
  test/utils/fixtures/svgPaths.ts
  test/utils/geometry/geometryCore.test.ts
  test/utils/typeAnatomy/detector.test.ts
  test/utils/typeAnatomy/features/counters.test.ts
  test/utils/typeAnatomy/features/curves.test.ts
  test/utils/typeAnatomy/features/openings.test.ts
  test/utils/typeAnatomy/features/projections.test.ts
  test/utils/typeAnatomy/features/structural.test.ts
  test/utils/typeAnatomy/features/terminals.test.ts
  utils/geometry/drawing.ts
  utils/geometry/geometryHeuristics.ts
  utils/typeAnatomy/detector.ts
  utils/typeAnatomy/detectors/arm.ts
  utils/typeAnatomy/detectors/bowl.ts
  utils/typeAnatomy/detectors/counter.ts
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/evidence/measureOrthogonalThickness.test.ts
  utils/typeAnatomy/evidence/measureOrthogonalThickness.ts
  utils/typeAnatomy/eye.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(typeAnatomy): add real-font accuracy spec for detectors
  test/typeAnatomy/feature-accuracy.test.ts
  test/utils/fixtures/fontFixtures.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(a11y): label associations in 5 theming demo cards
  app/blueprints/foundations/tokens/theming/_components/EditProductCard.tsx
  app/blueprints/foundations/tokens/theming/_components/NotificationSettingsCard.tsx
  app/blueprints/foundations/tokens/theming/_components/ProfileEditCard.tsx
  app/blueprints/foundations/tokens/theming/_components/SettingsCard.tsx
  app/blueprints/foundations/tokens/theming/_components/SliderCard.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(deps): bump next to ^16.2.4 (D2)
  package.json
  pnpm-lock.yaml
Due: prettier --write

wip(caws): checkpoint prior-session state before caws init
  .caws/feature.plan.md
  .caws/working-spec.yaml
  scripts/render-type-anatomy-overlays.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(navbar): use useSyncExternalStore for prefers-color-scheme
  ui/modules/Navbar/Navbar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(brand): add 33 tests for brand pipeline (D8)
  test/context/BrandContext.test.tsx
  test/ui/components/BrandSwitcher.test.tsx
  test/utils/designTokens/generators/global.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): exclude CAWS local-runtime artifacts from git
  .gitignore
Due: none

feat(caws): add CAWS agent hook bundle for boundary enforcement
  .claude/README.md
  .claude/hooks/audit.sh
  .claude/hooks/block-dangerous.sh
  .claude/hooks/classify_command.py
  .claude/hooks/doc-frontmatter-check.sh
  .claude/hooks/naming-check.sh
  .claude/hooks/quality-check.sh
  .claude/hooks/scan-secrets.sh
  .claude/hooks/scope-guard.sh
  .claude/hooks/session-caws-status.sh
  .claude/hooks/session-log.sh
  .claude/hooks/stop-worktree-check.sh
  .claude/hooks/test_classify_command.py
  .claude/hooks/test_wrapper_smoke.sh
  .claude/hooks/validate-spec.sh
  .claude/hooks/worktree-guard.sh
  .claude/hooks/worktree-write-guard.sh
  .claude/rules/git-safety.md
  .claude/rules/worktree-isolation.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: prettier --write

chore(caws): close VERIFICATION-001 after mutation hardening
  .caws/specs/VERIFICATION-001.yaml
  .caws/specs/registry.json
  .caws/working-spec.yaml
Due: prettier --write

feat(caws): add TYPEANATOMY-001 spec for tittle topology slice
  .caws/specs/CAWS-INIT-001.yaml
  .caws/specs/TYPEANATOMY-001.yaml
  .caws/specs/registry.json
Due: prettier --write

feat(caws): add VERIFICATION-001 spec for mutation + missing-font hardening
  .caws/specs/VERIFICATION-001.yaml
  .caws/specs/registry.json
Due: prettier --write

feat(caws): add TYPEANATOMY-003 spec for outline-corner evidence
  .caws/specs/TYPEANATOMY-003.yaml
  .caws/specs/registry.json
Due: prettier --write

feat(typeAnatomy): add outline-corner evidence + refactor apex/vertex/crotch
  test/typeAnatomy/feature-accuracy.test.ts
  utils/typeAnatomy/detectors/apex.ts
  utils/typeAnatomy/detectors/crotch.ts
  utils/typeAnatomy/detectors/vertex.ts
  utils/typeAnatomy/evidence/corners/clustering.test.ts
  utils/typeAnatomy/evidence/corners/clustering.ts
  utils/typeAnatomy/evidence/corners/cornerPredicates.test.ts
  utils/typeAnatomy/evidence/corners/cornerPredicates.ts
  utils/typeAnatomy/evidence/corners/dedupe.test.ts
  utils/typeAnatomy/evidence/corners/dedupe.ts
  utils/typeAnatomy/evidence/corners/extractContourCorners.ts
  utils/typeAnatomy/evidence/corners/findOutlineCorners.test.ts
  utils/typeAnatomy/evidence/corners/findOutlineCorners.ts
  utils/typeAnatomy/evidence/corners/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(typeAnatomy): mark fixed tittle overlays as passing
  scripts/render-type-anatomy-overlays.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(verification): add mutation harness + missing-font probe
  .caws/specs/VERIFICATION-001.yaml
  scripts/verify-missing-font.sh
  scripts/verify-mutation-resistance.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close TYPEANATOMY-001 after topology slice
  .caws/specs/TYPEANATOMY-001.yaml
  .caws/specs/registry.json
  .caws/working-spec.yaml
Due: prettier --write

chore(caws): close TYPEANATOMY-002 after overlay label fix
  .caws/specs/TYPEANATOMY-002.yaml
  .caws/specs/registry.json
  .caws/working-spec.yaml
Due: prettier --write

feat(typeAnatomy): seed disconnected-mark topology via tittle detection
  .caws/working-spec.yaml
  test/typeAnatomy/feature-accuracy.test.ts
  utils/typeAnatomy/detectors/tittle.ts
  utils/typeAnatomy/evidence/topology/disconnectedContours.test.ts
  utils/typeAnatomy/evidence/topology/disconnectedContours.ts
  utils/typeAnatomy/evidence/topology/index.ts
  utils/typeAnatomy/evidence/topology/markPredicates.test.ts
  utils/typeAnatomy/evidence/topology/markPredicates.ts
  utils/typeAnatomy/geometryCache.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(typeAnatomy): reject isolated V top corners as apexes
  .caws/specs/TYPEANATOMY-003.yaml
  test/typeAnatomy/feature-accuracy.test.ts
  utils/typeAnatomy/detectors/apex.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(caws): add governance layer for portfolio (CAWS-INIT-001)
  .caws/agents.json
  .caws/events.jsonl
  .caws/policy.yaml
  .caws/sessions.json
  .caws/sessions/2026-04-28T18-09-30-834Z__c7085da1.json
  .caws/specs/CAWS-INIT-001.yaml
  .caws/specs/registry.json
  .caws/working-spec.yaml
Due: prettier --write

feat(caws): add TYPEANATOMY-002 spec for overlay label reconciliation
  .caws/specs/TYPEANATOMY-002.yaml
  .caws/specs/registry.json
Due: prettier --write

chore(caws): add mechanical AC evidence + j-bound deviation note
  .caws/specs/TYPEANATOMY-001.yaml
Due: prettier --write

chore(caws): untrack agent and session runtime telemetry
  .caws/agents.json
  .caws/events.jsonl
  .caws/sessions.json
  .caws/sessions/2026-04-28T18-09-30-834Z__c7085da1.json
Due: prettier --write
