Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close FIX-SEC-001 spec post-merge
  .caws/specs/FIX-SEC-001.yaml
Due: prettier --write

chore(caws): add TEST-AUDIT-001 spec + findings for 89 failing tests
  .caws/specs/TEST-AUDIT-001.findings.md
  .caws/specs/TEST-AUDIT-001.yaml
Due: prettier --write

fix(useOTP): preserve positional empties in uncontrolled mode
  ui/components/OTP/useOTP.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(contract-schema): allow schemaVersion, motion.description, recursive token groups
  ui/designTokens/component.contract.schema.json
Due: prettier --write

fix(designTokens): drop default-to-semantic namespace; fix stale test assertions
  test/designTokens.test.ts
  utils/designTokens/core/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close TEST-AUDIT-001 spec post-merge
  .caws/specs/TEST-AUDIT-001.yaml
Due: prettier --write

fix(Icon): add accessible label prop, default to decorative
  ui/components/Icon/Icon.tsx
  ui/components/Icon/tests/Icon.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Spinner): default showAfterMs to 0, add aria-busy + data-size + spinner class
  ui/components/Spinner/Spinner.tsx
  ui/components/Spinner/tests/Spinner.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Skeleton): announce by default; extend HTMLAttributes; add skeleton class
  ui/components/Skeleton/Skeleton.tsx
  ui/components/Skeleton/tests/Skeleton.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Popover): aria-haspopup=dialog + role=dialog + aria-controls wiring
  ui/components/Popover/Popover.tsx
  ui/components/Popover/tests/Popover.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Toast): add aria-live + aria-atomic + data-variant on ToastItem
  ui/components/Toast/ToastItem.tsx
  ui/components/Toast/tests/Toast.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Field.ErrorText): add aria-live + aria-atomic; split controlled/uncontrolled tests
  ui/components/Field/ErrorText.tsx
  ui/components/Field/tests/Field.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Calendar): add minimal role + aria-label so scaffold is announced
  ui/components/Calendar/Calendar.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Details): explicit hidden attr + route summary click through React state
  ui/components/Details/Details.tsx
  ui/components/Details/tests/Details.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(a11y): drop aria-live=polite conflict on Field.ErrorText; Calendar uses role=region
  ui/components/Calendar/Calendar.tsx
  ui/components/Calendar/tests/Calendar.test.tsx
  ui/components/Field/ErrorText.tsx
  ui/components/Field/tests/Field.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Spinner): use --ds- prefix on size/thickness CSS variables
  ui/components/Spinner/Spinner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Tooltip): remove display:contents on trigger, add inline-block layout
  ui/components/Tooltip/Tooltip.css
  ui/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(Avatar): align tokens, scale initials, add missing fallback class
  ui/components/Avatar/Avatar.css
  ui/components/Avatar/Avatar.tokens.css
  ui/components/Avatar/Avatar.tokens.json
  ui/components/Avatar/Avatar.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(Badge): remove container-type collapse + add align-self:center
  ui/components/Badge/Badge.css
Due: prettier --write, stylelint --fix --allow-empty-input

fix(Alert): drop conflicting grid-column overrides on title/body/icon
  ui/components/Alert/Alert.css
Due: prettier --write, stylelint --fix --allow-empty-input

fix(Button): differentiate medium/large font-size + stop flex stretching
  ui/components/Button/Button.css
  ui/components/Button/Button.tokens.css
  ui/components/Button/Button.tokens.json
Due: prettier --write, stylelint --fix --allow-empty-input

fix(displaycase): replace Tabs placeholder buttons with real Tab slots
  app/component-displaycase/component-grid.client.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(Tabs): defer to ancestor TabsProvider; bump focusTick to re-fire DOM focus
  test/components/Tabs.test.tsx
  ui/components/Tabs/Tabs.tsx
  ui/components/Tabs/TabsProvider.tsx
  ui/components/Tabs/slots/Tab.tsx
  ui/components/Tabs/types.ts
  ui/components/Tabs/useTabs.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(group-a): rewrite stale assertions to match implemented contracts
  test/components/UtilityComponents.test.tsx
  ui/components/AspectRatio/tests/AspectRatio.test.tsx
  ui/components/PageTransition/tests/PageTransition.test.tsx
  ui/components/Postcard/tests/Postcard.test.tsx
  ui/components/Progress/tests/Progress.test.tsx
  ui/components/Text/tests/Text.test.tsx
  ui/components/Truncate/tests/Truncate.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(group-b): rewrite stale assertions to match implemented contracts
  ui/components/Avatar/tests/Avatar.test.tsx
  ui/components/Button/tests/Button.test.tsx
  ui/components/Command/tests/Command.test.tsx
  ui/components/Image/tests/Image.test.tsx
  ui/components/Shuttle/tests/Shuttle.test.tsx
  ui/components/TextField/tests/TextField.test.tsx
  ui/components/links/tests/Links.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(group-c): wrap providers + await animation timers for stale assertions
  test/components/AlertNotice.test.tsx
  test/components/ErrorBoundary.test.tsx
  test/components/Walkthrough.test.tsx
  test/components/docs.DocVariants.url.test.tsx
  ui/components/AlertNotice/tests/AlertNotice.test.tsx
  ui/components/OTP/tests/OTP.test.tsx
  ui/components/SlinkyCursor/tests/SlinkyCursor.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): remove v10 working-spec singleton; fix FIX-TURBO blast_radius
  .caws/specs/FIX-TURBO-001.yaml
  .caws/working-spec.yaml
Due: prettier --write

chore(caws): archive BUTTON-001
  .caws/specs/BUTTON-001.yaml
Due: prettier --write

chore(caws): gitignore rotated event logs + migration reports
  .gitignore
Due: none

chore(caws): archive CAWS-INIT-001
  .caws/specs/CAWS-INIT-001.yaml
Due: prettier --write

chore(caws): archive COMPONENT-GATES-002
  .caws/specs/COMPONENT-GATES-002.yaml
Due: prettier --write

chore(caws): archive CONTRACT-GATES-001
  .caws/specs/CONTRACT-GATES-001.yaml
Due: prettier --write

chore(caws): archive CONTRACTS-001
  .caws/specs/CONTRACTS-001.yaml
Due: prettier --write

chore(caws): archive CONTRACTS-002
  .caws/specs/CONTRACTS-002.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
