Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

fix(tokens): point contract validators at live tokens.css artifacts
  package.json
  scripts/check-contract-tokens.mjs
  scripts/check-token-references.mjs
  test/unit/scripts/check-contract-tokens.test.mjs
  ui/components/Alert/Alert.contract.json
  ui/components/AlertNotice/AlertNotice.contract.json
  ui/components/Avatar/Avatar.contract.json
  ui/components/Badge/Badge.contract.json
  ui/components/Breadcrumbs/Breadcrumbs.contract.json
  ui/components/Button/Button.contract.json
  ui/components/Calendar/Calendar.contract.json
  ui/components/Card/Card.contract.json
  ui/components/Checkbox/Checkbox.css
  ui/components/Command/Command.contract.json
  ui/components/Details/Details.contract.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Input/Input.contract.json
  ui/components/OTP/OTP.contract.json
  ui/components/Popover/Popover.contract.json
  ui/components/Select/Select.contract.json
  ui/components/Sheet/Sheet.contract.json
  ui/components/ShowMore/ShowMore.contract.json
  ui/components/Shuttle/Shuttle.contract.json
  ui/components/Skeleton/Skeleton.contract.json
  ui/components/SlinkyCursor/SlinkyCursor.contract.json
  ui/components/Status/Status.contract.json
  ui/components/Switch/Switch.contract.json
  ui/components/Table/Table.contract.json
  ui/components/TextField/TextField.contract.json
  ui/components/Toast/Toast.contract.json
  ui/components/Tooltip/Tooltip.contract.json
  ui/components/Walkthrough/Walkthrough.contract.json
Due: prettier --write, stylelint --fix --allow-empty-input

style: format three files failing the repo prettier config
  ui/modules/Tiptap/Extensions/VideoExtended/VideoNodeView.css
  ui/modules/Toolbar/ImageToolbar.css
  ui/modules/Toolbar/Toolbar.contract.json
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): amend FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): evidence FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): close FIX-TOKENS-001
  .caws/specs/FIX-TOKENS-001.yaml
Due: prettier --write

chore(caws): create FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): complete FEAT-BOXMODEL-001 scope, invariants, acceptance
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): bind feat-boxmodel-001 to FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

feat(tokens): reserved boxModel group emits shared --ds-box-model-* slots
  scripts/check-contract-tokens.mjs
  test/unit/designTokens/boxModel.emission.test.mjs
  test/unit/scripts/check-contract-tokens.test.mjs
  utils/designTokens/generators/generateCSSTokens.mjs
Due: none

feat(ui): box-model slot primitive and reference adoption in five components
  test/unit/designTokens/boxModel.artifacts.test.mjs
  ui/components/Button/Button.contract.json
  ui/components/Button/Button.css
  ui/components/Button/Button.tokens.css
  ui/components/Button/Button.tokens.json
  ui/components/Card/Card.contract.json
  ui/components/Card/Card.css
  ui/components/Card/Card.tokens.css
  ui/components/Card/Card.tokens.json
  ui/components/Dialog/Dialog.contract.json
  ui/components/Dialog/Dialog.css
  ui/components/Dialog/Dialog.tokens.css
  ui/components/Dialog/Dialog.tokens.json
  ui/components/Field/Field.contract.json
  ui/components/Field/Field.css
  ui/components/Field/Field.tokens.css
  ui/components/Field/Field.tokens.json
  ui/components/Input/Input.contract.json
  ui/components/Input/Input.css
  ui/components/Input/Input.tokens.css
  ui/components/Input/Input.tokens.json
  ui/primitives/boxModel.css
Due: prettier --write, stylelint --fix --allow-empty-input

docs: create the CSS migration playbook with the box-model adoption pattern
  CSS-MIGRATION-PLAYBOOK.md
  ui/components/Button/Button.css
  ui/components/Card/Card.css
  ui/components/Input/Input.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): evidence FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): close FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): reopen FEAT-BOXMODEL-001
  .caws/specs/FEAT-BOXMODEL-001.yaml
Due: prettier --write

chore(caws): create FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

chore(caws): amend FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

chore(caws): bind feat-core-foundations-001 to FEAT-CORE-FOUNDATIONS-001
  .caws/specs/FEAT-CORE-FOUNDATIONS-001.yaml
Due: prettier --write

chore(caws): create FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): bind feat-boxmodel-002 to FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

chore(caws): amend FEAT-BOXMODEL-002
  .caws/specs/FEAT-BOXMODEL-002.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
