Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

docs(caws): align agent docs with the system-runtime transport and live CLI
  .claude/README.md
  .claude/hooks/CLAUDE.md
  .claude/hooks/README.md
  .claude/rules/worktree-isolation.md
  .claude/settings.json.example
  CLAUDE.md
Due: prettier --write

chore(caws): evidence DOC-CAWS-CATCHUP-001
  .caws/specs/DOC-CAWS-CATCHUP-001.yaml
Due: prettier --write

chore(caws): close DOC-CAWS-CATCHUP-001
  .caws/specs/DOC-CAWS-CATCHUP-001.yaml
Due: prettier --write

chore(caws): create FIX-FONTKIT-BROWSER-001
  .caws/specs/FIX-FONTKIT-BROWSER-001.yaml
Due: prettier --write

fix(typography): bundle fontkit for the browser inspector
  next.config.mjs
  test/fontkit-browser.test.mjs
  ui/modules/FontInspector/FontInspector.tsx
  ui/modules/FontInspector/SymbolCanvas.tsx
  ui/modules/FontInspector/fontkit-types.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-FONTKIT-BROWSER-001
  .caws/specs/FIX-FONTKIT-BROWSER-001.yaml
Due: prettier --write

chore(caws): close FIX-FONTKIT-BROWSER-001
  .caws/specs/FIX-FONTKIT-BROWSER-001.yaml
Due: prettier --write

chore(caws): reopen FIX-FONTKIT-BROWSER-001
  .caws/specs/FIX-FONTKIT-BROWSER-001.yaml
Due: prettier --write

chore(caws): create FIX-TYPE-ANATOMY-ALIGNMENT-001
  .caws/specs/FIX-TYPE-ANATOMY-ALIGNMENT-001.yaml
Due: prettier --write

chore(caws): create FIX-ANATOMY-STEMS-001
  .caws/specs/FIX-ANATOMY-STEMS-001.yaml
Due: prettier --write

chore(caws): create FIX-ANATOMY-T-ARM-001
  .caws/specs/FIX-ANATOMY-T-ARM-001.yaml
Due: prettier --write

fix(typography): apply inspector grid to its root element
  ui/modules/FontInspector/FontInspector.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(caws): amend FIX-TYPE-ANATOMY-ALIGNMENT-001
  .caws/specs/FIX-TYPE-ANATOMY-ALIGNMENT-001.yaml
Due: prettier --write

chore(caws): amend-scope FIX-TYPE-ANATOMY-ALIGNMENT-001
  .caws/specs/FIX-TYPE-ANATOMY-ALIGNMENT-001.yaml
Due: prettier --write

fix(type-anatomy): align stem regions and classify T arms
  test/typeAnatomy/crossbar-arm-alignment.test.ts
  test/typeAnatomy/feature-accuracy.test.ts
  test/typeAnatomy/stem-alignment.test.ts
  utils/typeAnatomy/detectors/arm.ts
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/detectors/stem.ts
  utils/typeAnatomy/glyphFeatureHints.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(type-anatomy): provide consistent synthetic H geometry
  test/utils/typeAnatomy/features/structural.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(type-anatomy): retain short stems and thick connectors
  test/typeAnatomy/crossbar-arm-alignment.test.ts
  test/typeAnatomy/stem-alignment.test.ts
  utils/typeAnatomy/detectors/crossbar.ts
  utils/typeAnatomy/detectors/stem.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(type-anatomy): bound the scanline fallback description
  utils/typeAnatomy/detectors/stem.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): evidence FIX-ANATOMY-STEMS-001
  .caws/specs/FIX-ANATOMY-STEMS-001.yaml
Due: prettier --write

chore(caws): evidence FIX-ANATOMY-T-ARM-001
  .caws/specs/FIX-ANATOMY-T-ARM-001.yaml
Due: prettier --write

chore(caws): evidence FIX-TYPE-ANATOMY-ALIGNMENT-001
  .caws/specs/FIX-TYPE-ANATOMY-ALIGNMENT-001.yaml
Due: prettier --write

chore(caws): close FIX-ANATOMY-STEMS-001
  .caws/specs/FIX-ANATOMY-STEMS-001.yaml
Due: prettier --write

chore(caws): close FIX-ANATOMY-T-ARM-001
  .caws/specs/FIX-ANATOMY-T-ARM-001.yaml
Due: prettier --write

chore(caws): close FIX-TYPE-ANATOMY-ALIGNMENT-001
  .caws/specs/FIX-TYPE-ANATOMY-ALIGNMENT-001.yaml
Due: prettier --write

chore(caws): create FIX-GLYPH-FEATURE-EXPLORERS-001
  .caws/specs/FIX-GLYPH-FEATURE-EXPLORERS-001.yaml
Due: prettier --write

chore(caws): create FIX-GLYPH-FILL-MODEL-001
  .caws/specs/FIX-GLYPH-FILL-MODEL-001.yaml
Due: prettier --write

chore(caws): create FIX-GLYPH-REGION-DETECTORS-001
  .caws/specs/FIX-GLYPH-REGION-DETECTORS-001.yaml
Due: prettier --write

chore(caws): create FIX-GLYPH-EXPLORER-RENDERING-001
  .caws/specs/FIX-GLYPH-EXPLORER-RENDERING-001.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
