Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

chore(caws): close FIX-003
  .caws/specs/FIX-003.yaml
Due: prettier --write

chore(caws): reopen FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): bind feat-221-scroll-reveal to FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): close FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): destroy feat-221-scroll-reveal
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): reopen FIX-003
  .caws/specs/FIX-003.yaml
Due: prettier --write

chore(caws): destroy fix-003-fouc
  .caws/specs/FIX-003.yaml
Due: prettier --write

chore(caws): bind fix-003-fouc to FIX-003
  .caws/specs/FIX-003.yaml
Due: prettier --write

style(animation): fix lint errors that shipped while eslint was broken
  app/articles/ArticlesListClient.tsx
  app/heroes/glossaryCards.tsx
  app/work/_components/CaseStudyPage.tsx
  test/components/animatedPrimitives.foUC.test.tsx
  test/utils/animation/useScrollReveal.test.tsx
  ui/components/AnimatedCard/AnimatedCard.tsx
  ui/components/AnimatedSection/AnimatedSection.tsx
  ui/components/AnimatedText/AnimatedText.tsx
  utils/animation/useScrollReveal.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: state the quality gates that actually run, not aspirational ones
  CLAUDE.md
Due: prettier --write

chore(caws): amend-scope FEAT-220
  .caws/specs/FEAT-220.yaml
Due: prettier --write

chore(caws): bind feat-220-isr-caching to FEAT-220
  .caws/specs/FEAT-220.yaml
Due: prettier --write

feat(caching): serve public content from ISR via a cookieless read client
  app/api/articles/[slug]/route.ts
  app/api/articles/route.ts
  app/api/case-studies/[slug]/route.ts
  app/api/case-studies/route.ts
  app/articles/[slug]/page.tsx
  app/articles/page.tsx
  app/work/[slug]/page.tsx
  test/api/contentRevalidation.test.ts
  test/pages/publicReadPaths.test.ts
  test/utils/readClient.test.ts
  utils/supabase/readClient.ts
  utils/supabase/revalidateContent.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FEAT-220
  .caws/specs/FEAT-220.yaml
Due: prettier --write

chore(pnpm): align install config with pnpm 11
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

wip(checkpoint): allowlist read-only caws and npm script commands
  .claude/settings.json
Due: prettier --write

wip(checkpoint): allowlist the caws governance surface
  .claude/settings.json
Due: prettier --write

chore(caws): create FIX-004
  .caws/specs/FIX-004.yaml
Due: prettier --write

chore(caws): add FIX-004 for ISR error-path caching
  .caws/specs/FIX-004.yaml
Due: prettier --write

chore(caws): bind fix-004-isr-errors to FIX-004
  .caws/specs/FIX-004.yaml
Due: prettier --write

fix(caching): never cache a failed read as an empty list or a 404
  app/articles/[slug]/page.tsx
  app/articles/page.tsx
  app/work/[slug]/page.tsx
  test/pages/publicReadErrors.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-004
  .caws/specs/FIX-004.yaml
Due: prettier --write

docs(caws): correct agent-liveness and ownership-override drift
  .claude/rules/worktree-isolation.md
  CLAUDE.md
Due: prettier --write

test(doclayout): mock sandpack to stop post-teardown unhandled rejection
  test/components/DocLayout.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(hooks): gate pushes on lint, typecheck, and tests
  .husky/pre-push
Due: none

style: apply prettier fixes and exclude CAWS-managed hooks from lint
  eslint.config.mjs
  test/blueprints/generateAnatomy.test.ts
  test/utils/redirectOrigin.test.ts
  ui/components/Avatar/tests/Avatar.test.tsx
  ui/components/Details/Details.tsx
  ui/components/PageTransition/tests/PageTransition.test.tsx
  ui/components/Skeleton/Skeleton.tsx
  ui/components/SlinkyCursor/tests/SlinkyCursor.test.tsx
  ui/components/Truncate/tests/Truncate.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): create FIX-005
  .caws/specs/FIX-005.yaml
Due: prettier --write

chore(caws): create FIX-005 spec for push gates and lint debt
  .caws/specs/FIX-005.yaml
Due: prettier --write

chore(caws): bind fix-005-push-gates to FIX-005
  .caws/specs/FIX-005.yaml
Due: prettier --write

fix(lint): justify the three remaining lint suppressions
  app/global-error.tsx
  hooks/useFontsLoaded.ts
  hooks/usePerformanceMonitor.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(lint): exclude CAWS worktrees from lint
  eslint.config.mjs
Due: none

chore(caws): close FIX-005
  .caws/specs/FIX-005.yaml
Due: prettier --write

wip(checkpoint): let CAWS adjudicate its own lifecycle, not permission prompts
  .claude/settings.json
Due: prettier --write

chore(caws): create FIX-006
  .caws/specs/FIX-006.yaml
Due: prettier --write

chore(caws): create FIX-006 spec for metadataBase and author embed proof
  .caws/specs/FIX-006.yaml
Due: prettier --write

chore(caws): bind fix-006-metadata to FIX-006
  .caws/specs/FIX-006.yaml
Due: prettier --write

fix(metadata): set metadataBase so social images resolve against the deployed origin
  app/layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-006
  .caws/specs/FIX-006.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
