Repository DarianRosebrook/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test(docs): strengthen sandpack-mocked tests with typing, timer cleanup, and real URL-init assertion
  test/components/docs.DocInteractive.debounce.test.tsx
  test/components/docs.DocVariants.url.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): cover generateAnatomy parseAnatomy + getAnatomyData (FEAT-201)
  test/blueprints/generateAnatomy.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(blueprints): treat anatomy array as source of truth; drop name-based state filter
  app/blueprints/component-standards/_lib/generateAnatomy.ts
  test/blueprints/generateAnatomy.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): add end-to-end getAnatomyData check against real Tabs contract
  test/blueprints/generateAnatomy.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test(blueprints): render AnatomyTable with real contract data to confirm restored rows
  test/blueprints/AnatomyTable.render.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs(caws): correct spec-archive description to match caws 11.6.0 behavior
  CLAUDE.md
Due: prettier --write

chore(caws): create FIX-APP-SEC-001
  .caws/specs/FIX-APP-SEC-001.yaml
Due: prettier --write

chore(caws): add FIX-APP-SEC-001 for app auth hardening
  .caws/specs/FIX-APP-SEC-001.yaml
Due: prettier --write

fix(api): retire legacy /api/publish with 410 Gone
  app/api/publish/route.ts
  test/api/publish.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): widen FIX-APP-SEC-001 scope and exclude worktree tests
  .caws/specs/FIX-APP-SEC-001.yaml
  vitest.config.mjs
Due: prettier --write

fix(api): sanitize user search ilike filter input
  app/api/users/search/route.ts
  test/utils/postgrestFilter.test.ts
  utils/helpers/postgrestFilter.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(api): restrict content reads to published or author
  app/api/articles/[slug]/route.ts
  app/api/case-studies/[slug]/route.ts
  app/articles/[slug]/page.tsx
  app/work/[slug]/page.tsx
  test/api/articles.test.ts
  test/utils/contentAccess.test.ts
  utils/supabase/contentAccess.ts
  utils/supabase/migrations/tighten-content-select-rls.sql
Due: prettier --write, eslint --fix --max-warnings 0

fix(dashboard): surface save failures and stabilize draft slugs
  app/dashboard/_components/ContentEditor.tsx
  app/dashboard/articles/new/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(content): sanitize CMS HTML and harden error/robots surfaces
  app/articles/[slug]/ArticleDetailClient.tsx
  app/error.tsx
  app/global-error.tsx
  app/ha/actions.ts
  app/work/_components/CaseStudyContent.tsx
  public/robots.txt
  test/utils/sanitizeHtml.test.ts
  utils/caseStudy.ts
  utils/helpers/sanitizeHtml.ts
  utils/tiptap/htmlGeneration.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(api): gate image cleanup and trust auth redirect origins
  app/api/cleanup-images/route.ts
  app/auth/callback/route.ts
  test/api/cleanup-images.test.ts
  utils/env.ts
  utils/supabase/redirectOrigin.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(db): drop leftover permissive articles RLS policies
  supabase/.gitignore
  supabase/config.toml
  utils/supabase/migrations/tighten-content-select-rls.sql
Due: none

fix(db): harden advisor follow-ups for RLS, RPCs, and storage
  utils/supabase/migrations/harden-advisor-followups.sql
Due: none

chore(env): support Supabase publishable and secret key names
  .env.example
  .gitignore
  utils/env.ts
  utils/supabase/client.ts
  utils/supabase/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(security): close javascript: scheme bypass and redirect-origin dead code
  test/utils/redirectOrigin.test.ts
  test/utils/sanitizeHtml.test.ts
  utils/helpers/sanitizeHtml.ts
  utils/supabase/redirectOrigin.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(auth): block open redirects in getSafeRedirectPath
  app/auth/confirm/route.ts
  test/utils/redirect.test.ts
  utils/supabase/redirect.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(dashboard): re-check auth, author-scope lists, drop open profile update
  app/dashboard/articles/page.tsx
  app/dashboard/case-studies/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/profile/page.tsx
  utils/supabase/index.ts
  utils/supabase/migrations/record-content-author-policies.sql
  utils/supabase/profile.ts
  utils/supabase/readSession.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(auth): preserve post-login dashboard destination
  app/auth/callback/route.ts
  app/ha/actions.ts
  test/utils/middlewareRedirect.test.ts
  utils/supabase/middleware.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(content): stop public pages leaking working* and profile columns
  app/articles/[slug]/page.tsx
  app/articles/page.tsx
  app/work/[slug]/page.tsx
  test/utils/contentAccess.test.ts
  utils/supabase/contentAccess.ts
Due: prettier --write, eslint --fix --max-warnings 0

wip(checkpoint): align generated token comment paths with real dir casing
  ui/components/breadcrumbs/Breadcrumbs.tokens.css
  ui/components/links/AnimatedLink.tokens.css
  ui/components/links/Links.tokens.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(gitignore): ignore per-session hook state and stray bluetooth log
  .gitignore
Due: none

chore(caws): create FIX-002
  .caws/specs/FIX-002.yaml
Due: prettier --write

chore(caws): create FEAT-220
  .caws/specs/FEAT-220.yaml
Due: prettier --write

chore(caws): create FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): amend-scope FEAT-220
  .caws/specs/FEAT-220.yaml
Due: prettier --write

chore(caws): add FIX-002, FEAT-220, FEAT-221 to salvage stranded branch work
  .caws/specs/FEAT-220.yaml
  .caws/specs/FEAT-221.yaml
  .caws/specs/FIX-002.yaml
Due: prettier --write

chore(caws): bind fix-002-app-shell to FIX-002
  .caws/specs/FIX-002.yaml
Due: prettier --write

fix(app-shell): mount providers in layout, mark contexts as client modules
  app/layout.tsx
  app/template.tsx
  context/InteractionContext.tsx
  context/ReducedMotionContext.tsx
  test/context/clientBoundary.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FIX-002
  .caws/specs/FIX-002.yaml
Due: prettier --write

chore(caws): bind feat-221-scroll-reveal to FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

refactor(animation): extract useScrollReveal and drop per-component FOUC guards
  app/HomeClient.tsx
  app/articles/ArticlesListClient.tsx
  app/articles/[slug]/ArticleDetailClient.tsx
  app/work/WorkPageClient.tsx
  test/utils/animation/useScrollReveal.test.tsx
  utils/animation/useScrollReveal.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(caws): close FEAT-221
  .caws/specs/FEAT-221.yaml
Due: prettier --write

chore(caws): create FIX-003
  .caws/specs/FIX-003.yaml
Due: prettier --write

chore(caws): add FIX-003 to fix the FOUC guard class site-wide
  .caws/specs/FIX-003.yaml
Due: prettier --write

chore(caws): bind fix-003-fouc to FIX-003
  .caws/specs/FIX-003.yaml
Due: prettier --write

fix(animation): hide reveals pre-paint so no-JS visitors can read content
  app/heroes/glossaryCards.tsx
  app/work/_components/CaseStudyPage.tsx
  test/components/animatedPrimitives.foUC.test.tsx
  ui/components/AnimatedCard/AnimatedCard.tsx
  ui/components/AnimatedSection/AnimatedSection.tsx
  ui/components/AnimatedText/AnimatedText.tsx
Due: prettier --write, eslint --fix --max-warnings 0
